In [2]:
import numpy as np
import pandas as pd

pd_data = pd.read_csv('전국렌터카업체정보표준데이터.csv', encoding='cp949', header=None)
np_data = pd_data.to_numpy()
np_data_1 = pd_data.to_numpy().astype(str)

np.set_printoptions(precision=3, suppress=True)

print(np_data)

[['업체명' '사업장구분' '소재지도로명주소' ... '데이터기준일자' '제공기관코드' '제공기관명']
 ['㈜디디렌트카' '주사업장' '서울특별시 노원구 동일로250길 69(상계동)' ... '2022-08-17' '3100000'
  '서울특별시 노원구']
 ['인천공항렌트카㈜' '주사업장' '서울특별시 노원구 동일로 178길 10 201호(공릉동)' ... '2022-08-17'
  '3100000' '서울특별시 노원구']
 ...
 ['삼화렌트카' '주사업장' '서울특별시 도봉구 도봉로160길 22, 103호(도봉동)' ... '2020-01-29'
  '3090000' '서울특별시 도봉구']
 ['태산렌트카' '주사업장' '서울특별시 도봉구 도봉로152길 26, 117호(방학동,렉시온프라자)' ...
  '2020-01-29' '3090000' '서울특별시 도봉구']
 ['드림렌트카' '주사업장' '서울특별시 도봉구 노해로67길 2, B2, 9-85호(창동,한국빌딩)' ...
  '2020-01-29' '3090000' '서울특별시 도봉구']]

In [3]:
# 전국 렌터카 업체 수
print(len(np_data)-1)

5753

In [4]:
# 소재지(시도)별 렌터카 업체 수
addr = np_data[1:,2]
# print(addr)
addr1 = np_data[1:,3]

addr_list = []

for i in range(len(addr)) :
    if str(addr[i]) != "nan" :
        addr_list.append(str(addr[i]).split(' ')[0])
    else:
        addr_list.append(str(addr1[i]).split(' ')[0])

# print(len(addr_list))
# print(addr_list)

addr_np = np.array(addr_list)

name, cnt = np.unique(addr_np, return_counts = True)
address_count = dict(zip(name, cnt))

print(address_count)
# 시도 개수 확인
# print(len(address_count))

{'강원': 2, '강원도': 300, '경기도': 1200, '경남남도': 14, '경상남도': 339, '경상북도': 496, '경주시': 1, '공주시': 1, '광주광역시': 177, '대구광역시': 154, '대전광역시': 265, '동대문구': 1, '동작구': 1, '부산광역시': 241, '서울특별기': 1, '서울특별시': 924, '서울특별시강남구': 1, '세종특별시': 1, '세종특별자치시': 28, '안천광역시': 1, '용인시': 1, '울산': 6, '울산광역시': 112, '울산시': 1, '인천광역시': 275, '전라남도': 271, '전라북도': 187, '제주특별자치도': 244, '충청남도': 288, '충청북도': 220}

In [5]:
# 전국 렌터카 차량 대수
car = np_data[1:, 9]
car = car.astype(int)
print(car)
total_car = car.sum()

print("총 대수 : ", total_car)

[60 66 83 ... 66 69 50]
총 대수 :  1576207

In [6]:
# 소재지(시도)별 렌터카 대수(합), 평균(업체별)
# print(len(addr_np))
# print(len(car))

# print(np.stack([addr_np, car], 1))

set_addr = set(addr_np)
nh_data = np_data[1:,9]
dic_rent = {}
cnt=0

for s in set_addr :
    filter = addr_np == s
    # print(f"{s} :", car[filter].sum())
    dic_rent[s]=car[filter].sum()
    cnt += car[filter].sum()
print(dic_rent)
# 총 대수와 비교
print(cnt)
# 위 시도 개수와 일치여부 확인
# print(len(set_addr))

{'울산시': 4, '전라남도': 324253, '경남남도': 349, '서울특별시': 137039, '공주시': 23, '안천광역시': 16, '대전광역시': 13944, '인천광역시': 412188, '전라북도': 50105, '충청남도': 15798, '울산': 200, '동대문구': 0, '서울특별시강남구': 146, '용인시': 11, '세종특별시': 2, '제주특별자치도': 331653, '경상북도': 11978, '강원도': 8400, '세종특별자치시': 1371, '광주광역시': 16230, '부산광역시': 94970, '경상남도': 48394, '경기도': 70680, '경주시': 20, '동작구': 0, '강원': 15, '대구광역시': 18136, '울산광역시': 6214, '서울특별기': 66, '충청북도': 14002}
1576207

In [7]:
# 평균(업체별)
# print(dic_rent)
# print(address_count)
# print(set_addr)

# print(len(dic_rent))
# print(len(address_count))
# print(len(set_addr))

avg_rent = {}

for s in set_addr :
    avg_rent[s] = round(dic_rent[s]/address_count[s])

print(avg_rent)

{'울산시': 4, '전라남도': 1197, '경남남도': 25, '서울특별시': 148, '공주시': 23, '안천광역시': 16, '대전광역시': 53, '인천광역시': 1499, '전라북도': 268, '충청남도': 55, '울산': 33, '동대문구': 0, '서울특별시강남구': 146, '용인시': 11, '세종특별시': 2, '제주특별자치도': 1359, '경상북도': 24, '강원도': 28, '세종특별자치시': 49, '광주광역시': 92, '부산광역시': 394, '경상남도': 143, '경기도': 59, '경주시': 20, '동작구': 0, '강원': 8, '대구광역시': 118, '울산광역시': 55, '서울특별기': 66, '충청북도': 64}

In [8]:
# 다른 풀이
for e in enumerate(np_data[0]) :
    print(e)

(0, '업체명')
(1, '사업장구분')
(2, '소재지도로명주소')
(3, '소재지지번주소')
(4, '위도')
(5, '경도')
(6, '차고지도로명주소')
(7, '차고지지번주소')
(8, '보유차고지수용능력')
(9, '자동차총보유대수')
(10, '승용차보유대수')
(11, '승합차보유대수')
(12, '전기승용자동차보유대수')
(13, '전기승합자동차보유대수')
(14, '경차요금')
(15, '소형차요금')
(16, '중형차요금')
(17, '대형차요금')
(18, '승합차요금')
(19, '레저용차요금')
(20, '수입차요금')
(21, '평일운영시작시각')
(22, '평일운영종료시각')
(23, '주말운영시작시각')
(24, '주말운영종료시각')
(25, '공휴일운영시작시각')
(26, '공휴일운영종료시각')
(27, '휴무일')
(28, '홈페이지주소')
(29, '대표자명')
(30, '전화번호')
(31, '데이터기준일자')
(32, '제공기관코드')
(33, '제공기관명')

In [9]:
# 전국 렌터카 업체수
np_data.shape

# print(np_data[1:, 0])

# 중복을 제외한 전국 렌터카 업체수
unique_array = np.unique(np_data[1:, 0])
print(len(unique_array))

4499

In [10]:
# 소재지(시도)별 렌터카 업체수
# print(np_data)
area_names = []
for i, addr in enumerate(np_data_1[1:, 2]) :
    # print(addr)
    if addr == 'nan' :
        for m in [3,6,7] :
            addr = np_data_1[i, m]
            if addr != 'nan' :
                break
    area_names.append(addr.split()[0])

np.unique(area_names)

for i, e in enumerate(area_names) :
    if e == "강원" :
        area_names[i] = "강원도"
    elif e == "강진군" :
        area_names[i] = "전라남도"
    elif e == "경남남도" :
        area_names[i] = "경상남도"
    elif e == "경주시" :
        area_names[i] = "경상북도"
    elif e == "공주시" :
        area_names[i] = "충청남도"
    elif e == "동대문구" :
        area_names[i] = "서울특별시"
    elif e == "동작구" :
        area_names[i] = "서울특별시"
    elif e == "부산시" :
        area_names[i] = "부산광역시"
    elif e == "서울특별기" :
        area_names[i] = "서울특별시"
    elif e == "서울특별시강남구" :
        area_names[i] = "서울특별시"
    elif e == "세종특별자치시" :
        area_names[i] = "서울특별시"
    elif e == "용인시" :
        area_names[i] = "경기도"
    elif e == "울산" :
        area_names[i] = "울산광역시"
    elif e == "울산시" :
        area_names[i] = "울산광역시"

area, cnt = np.unique(area_names, return_counts=True)
d2 = dict(zip(area,cnt))
print(d2)

{'강원도': 305, '경기도': 1204, '경상남도': 352, '경상북도': 498, '광주광역시': 177, '대구광역시': 154, '대전광역시': 264, '부산광역시': 241, '서울특별시': 950, '안천광역시': 1, '울산광역시': 120, '인천광역시': 278, '전라남도': 272, '전라북도': 188, '제주특별자치도': 244, '충청남도': 287, '충청북도': 218}

In [11]:
# 전국 렌터카 총 보유 대수
sub_data = np_data_1[1:, 9].astype(np.int64)
# sub_data.dtype
sub_data.sum()

1576207

In [12]:
# 소재지(시도)별 렌터카 대수(합)

np_area_names = np.array(area_names)

# filter1 = np_area_names == '강원도'
# print(filter1)

# sub_data[filter1].sum()

cnt = 0

for name in np.unique(np_area_names):
    filter1 = np_area_names==name
    print(name, sub_data[filter1].sum())
    cnt += sub_data[filter1].sum()

print(cnt)

강원도 9279
경기도 70225
경상남도 49572
경상북도 12586
광주광역시 16443
대구광역시 18340
대전광역시 13754
부산광역시 91962
서울특별시 137319
안천광역시 0
울산광역시 6598
인천광역시 414679
전라남도 324360
전라북도 50565
제주특별자치도 331249
충청남도 14979
충청북도 14297
1576207