In [38]:
import pandas as pd

url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

pd_iris = pd.read_csv(url, header=None, encoding='cp949')

In [39]:
pd_iris.head()
pd_iris.columns = ['sepal_len','sepal_width', 'petal_len', 'petal_width', 'class']

pd_iris['class'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

#### iris

- sepal_len의 iqr, 이상치 upper/lower 값 구하기
- class 코드화 : 'Iris-virginica', 'Iris-setosa', 'Iris-versicolor' 순으로 0,1,2 지정, class_code 컬럼 생성

In [40]:
qv = pd_iris['sepal_len'].quantile([0.25, 0.75])
qv = qv.to_numpy()
print(qv)

iqr = qv[1] - qv[0]
print(iqr)

upper = qv[1] + 1.5*iqr
lower = qv[0] - 1.5*iqr
print(upper)
print(lower)

[5.1 6.4]
1.3000000000000007
8.350000000000001
3.1499999999999986

In [41]:
pd_iris['sepal_len']

filter1 = pd_iris['sepal_len']<lower
print(pd_iris['sepal_len'][filter1])


filter2 = pd_iris['sepal_len']>upper
print(pd_iris['sepal_len'][filter2])

pd_iris.loc[filter2, :]

Series([], Name: sepal_len, dtype: float64)
Series([], Name: sepal_len, dtype: float64)

Empty DataFrame
Columns: [sepal_len, sepal_width, petal_len, petal_width, class]
Index: []

In [42]:
from pandas.api.types import CategoricalDtype

pd_iris

iris_list = ['Iris-virginica', 'Iris-setosa', 'Iris-versicolor']

iris_cat = CategoricalDtype(categories = iris_list, ordered=True)
pd_iris['iris_cat'] = pd_iris['class'].astype(iris_cat)

print(pd_iris.dtypes)


pd_iris.sort_values('iris_cat')

sepal_len       float64
sepal_width     float64
petal_len       float64
petal_width     float64
class            object
iris_cat       category
dtype: object

,sepal_len,sepal_width,petal_len,petal_width,class,iris_cat
149,5.9,3.0,5.1,1.8,Iris-virginica,Iris-virginica
121,5.6,2.8,4.9,2.0,Iris-virginica,Iris-virginica
120,6.9,3.2,5.7,2.3,Iris-virginica,Iris-virginica
119,6.0,2.2,5.0,1.5,Iris-virginica,Iris-virginica
118,7.7,2.6,6.9,2.3,Iris-virginica,Iris-virginica
...,...,...,...,...,...,...
80,5.5,2.4,3.8,1.1,Iris-versicolor,Iris-versicolor
79,5.7,2.6,3.5,1.0,Iris-versicolor,Iris-versicolor
78,6.0,2.9,4.5,1.5,Iris-versicolor,Iris-versicolor
76,6.8,2.8,4.8,1.4,Iris-versicolor,Iris-versicolor
74,6.4,2.9,4.3,1.3,Iris-versicolor,Iris-versicolor

In [43]:
# 다른 풀이
pd_iris = pd.read_csv(url, header=None, encoding='cp949')

pd_iris.head()
pd_iris.columns = ['sepal_len','sepal_width', 'petal_len', 'petal_width', 'class']

pd_iris['class'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [44]:
qv = pd_iris['sepal_len'].quantile([0.25, 0.75]).to_numpy()
iqr = qv[1] - qv[0]

upper = qv[1] + 1.5*iqr
lower = qv[0] - 1.5*iqr

print('range : ', upper, '~', lower)

filter1 = pd_iris['sepal_len'] < lower
filter2 = pd_iris['sepal_len'] > upper

print(pd_iris['sepal_len'][filter1])
print(pd_iris['sepal_len'][filter2])

range :  8.350000000000001 ~ 3.1499999999999986
Series([], Name: sepal_len, dtype: float64)
Series([], Name: sepal_len, dtype: float64)

In [47]:
pd_iris['class'].unique()

pd_iris['class_code0'] = pd_iris['class'].astype('category').cat.codes
print(pd_iris[['class','class_code0']])

              class  class_code0
0       Iris-setosa            0
1       Iris-setosa            0
2       Iris-setosa            0
3       Iris-setosa            0
4       Iris-setosa            0
..              ...          ...
145  Iris-virginica            2
146  Iris-virginica            2
147  Iris-virginica            2
148  Iris-virginica            2
149  Iris-virginica            2

[150 rows x 2 columns]

In [49]:
class_cat = ['Iris-virginica', 'Iris-setosa', 'Iris-versicolor']

my_class_category_type = pd.api.types.CategoricalDtype(class_cat, ordered=True)

pd_iris['class_code'] = pd_iris['class'].astype(my_class_category_type).cat.codes

print(pd_iris[['class', 'class_code0', 'class_code']])

              class  class_code0  class_code
0       Iris-setosa            0           1
1       Iris-setosa            0           1
2       Iris-setosa            0           1
3       Iris-setosa            0           1
4       Iris-setosa            0           1
..              ...          ...         ...
145  Iris-virginica            2           0
146  Iris-virginica            2           0
147  Iris-virginica            2           0
148  Iris-virginica            2           0
149  Iris-virginica            2           0

[150 rows x 3 columns]