In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### data.go.kr : 전국도서관표준데이터

- 전국 단위 도서관 유형별 개수 : groupby, count 활용
- 시도별 도서관 개수 : groupby, count 활용
- 시도별 도서관 유형별 개수 : groupby, count 활용
- 시도별 도서관 유형별 자료수(도서) 평균, 합 : groupby, agg 활용

- 전국 단위 : 열람좌석수 최대 도서관 : describe, max 활용
- 전국 단위 : 자료수 최대, 최소 도서관 : max, min 활용

In [2]:
pd_data = pd.read_csv('전국도서관표준데이터.csv', encoding='cp949')

# print(pd_data.head())

for i,n in enumerate(pd_data.columns):
    print(i, n)

0 도서관명
1 시도명
2 시군구명
3 도서관유형
4 휴관일
5 평일운영시작시각
6 평일운영종료시각
7 토요일운영시작시각
8 토요일운영종료시각
9 공휴일운영시작시각
10 공휴일운영종료시각
11 열람좌석수
12 자료수(도서)
13 자료수(연속간행물)
14 자료수(비도서)
15 대출가능권수
16 대출가능일수
17 소재지도로명주소
18 운영기관명
19 도서관전화번호
20 부지면적
21 건물면적
22 홈페이지주소
23 위도
24 경도
25 데이터기준일자
26 제공기관코드
27 제공기관명

In [3]:
sub_data = pd_data[['시도명', '도서관유형', '자료수(도서)', '열람좌석수']]

### kosis.kr : 2021년 시도별 인구

- 취합하여 하나의 df로 완성(pd.concat 활용)
- 시도명(인덱스), 도서관 개수, 인구, 인구1인당 도서관 수

In [4]:
pd_2021_population = pd.read_csv('2021_population.csv', encoding='cp949', header=1)

# header=1 을 적용하지 않는 경우 drop으로 조치
# pd_2021_population.drop(0, axis=0, inplace=True)  # copy본을 만들어냄

# pd_2021_population = pd_2021_population.iloc[1:,:]

pd_2021_population    # 데이터가 많은 경우 .head() 활용 권장

   행정구역별(읍면동)   총인구 (명)
0       서울특별시   9472127
1       부산광역시   3324335
2       대구광역시   2387911
3       인천광역시   2957044
4       광주광역시   1475262
5       대전광역시   1479740
6       울산광역시   1120753
7     세종특별자치시    366227
8         경기도  13652529
9         강원도   1521890
10       충청북도   1624764
11       충청남도   2175960
12       전라북도   1787053
13       전라남도   1778124
14       경상북도   2635314
15       경상남도   3305931
16    제주특별자치도    673107

In [5]:
lib_count = sub_data.groupby('시도명').count()

# pd_2021_population.set_index('행정구역별(읍면동)', inplace=True)
pd_2021_population = pd_2021_population.set_index('행정구역별(읍면동)')

print(pd_2021_population)

print(lib_count)

             총인구 (명)
행정구역별(읍면동)
서울특별시        9472127
부산광역시        3324335
대구광역시        2387911
인천광역시        2957044
광주광역시        1475262
대전광역시        1479740
울산광역시        1120753
세종특별자치시       366227
경기도         13652529
강원도          1521890
충청북도         1624764
충청남도         2175960
전라북도         1787053
전라남도         1778124
경상북도         2635314
경상남도         3305931
제주특별자치도       673107
         도서관유형  자료수(도서)  열람좌석수
시도명
강원도         79       79     79
경기도        495      495    495
경상남도       426      426    426
경상북도       168      168    168
광주광역시      348      348    348
대구광역시      229      229    229
대전광역시      110      110    110
부산광역시      185      185    185
서울특별시      543      543    543
세종특별자치시     20       20     20
울산광역시      146      146    146
인천광역시      194      194    194
전라남도       128      128    128
전라북도       158      158    158
제주특별자치도     37       37     37
충청남도        77       77     77
충청북도       113      113    113

In [6]:
df10 = pd.concat((pd_2021_population, lib_count), axis=1)

df10['ratio'] = df10['총인구 (명)'].astype(np.float64)/df10['도서관유형'].astype(np.float64)
df10.insert(1, 'ratio2', df10['도서관유형'].astype(np.float64)/df10['총인구 (명)'].astype(np.float64))

In [7]:
df10.sort_values('ratio')

          총인구 (명)    ratio2  도서관유형  자료수(도서)  열람좌석수         ratio
광주광역시     1475262  0.000236    348      348    348   4239.258621
울산광역시     1120753  0.000130    146      146    146   7676.390411
경상남도      3305931  0.000129    426      426    426   7760.401408
대구광역시     2387911  0.000096    229      229    229  10427.558952
전라북도      1787053  0.000088    158      158    158  11310.462025
대전광역시     1479740  0.000074    110      110    110  13452.181818
전라남도      1778124  0.000072    128      128    128  13891.593750
충청북도      1624764  0.000070    113      113    113  14378.442478
인천광역시     2957044  0.000066    194      194    194  15242.494845
경상북도      2635314  0.000064    168      168    168  15686.392857
서울특별시     9472127  0.000057    543      543    543  17444.064457
부산광역시     3324335  0.000056    185      185    185  17969.378378
제주특별자치도    673107  0.000055     37       37     37  18192.081081
세종특별자치시    366227  0.000055     20       20     20  18311.350000
강원도       1521890  0.000052     79       79     79  19264.430380
경기도      13652529  0.000036    495      495    495  27580.866667
충청남도      2175960  0.000035     77       77     77  28259.220779