In [225]:
import pandas as pd
import numpy as np

In [226]:
df = pd.read_csv('full_data_add_price.csv', encoding='cp949')
df = df.iloc[:-1,1:]

In [227]:
df.head()

,일시,날짜,년,월,일,시간,분,요일,주말,기온(°C),...,현지기압(hPa),일조(hr),일사(MJ/m2),적설(cm),전운량(10분위),시정(10m),지면온도(°C),총지수,생활물가지수,전기료
0,2021-01-01 00:00:00,2021-01-01,2021,1,1,0,0,금요일,0.0,-8.3,...,1016.4,0.0,0.0,0.0,0.0,2000,-6.800,100.86,100.86,100.38
1,2021-01-01 00:15:00,2021-01-01,2021,1,1,0,15,금요일,0.0,-8.4,...,1016.4,0.0,0.0,0.0,0.0,2000,-6.825,100.86,100.86,100.38
2,2021-01-01 00:30:00,2021-01-01,2021,1,1,0,30,금요일,0.0,-8.5,...,1016.4,0.0,0.0,0.0,0.0,2000,-6.850,100.86,100.86,100.38
3,2021-01-01 00:45:00,2021-01-01,2021,1,1,0,45,금요일,0.0,-8.6,...,1016.4,0.0,0.0,0.0,0.0,2000,-6.875,100.86,100.86,100.38
4,2021-01-01 01:00:00,2021-01-01,2021,1,1,1,0,금요일,0.0,-8.7,...,1016.4,0.0,0.0,0.0,0.0,2000,-6.900,100.86,100.86,100.38

In [228]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105120 entries, 0 to 105119
Data columns (total 23 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   일시         105120 non-null  object
 1   날짜         105120 non-null  object
 2   년          105120 non-null  int64
 3   월          105120 non-null  int64
 4   일          105120 non-null  int64
 5   시간         105120 non-null  int64
 6   분          105120 non-null  int64
 7   요일         105120 non-null  object
 8   주말         105120 non-null  float64
 9   기온(°C)     105120 non-null  float64
 10  강수량(mm)    105120 non-null  float64
 11  풍속(m/s)    105120 non-null  float64
 12  습도(%)      105120 non-null  float64
 13  현지기압(hPa)  105120 non-null  float64
 14  일조(hr)     105120 non-null  float64
 15  일사(MJ/m2)  105120 non-null  float64
 16  적설(cm)     105120 non-null  float64
 17  전운량(10분위)  105120 non-null  float64
 18  시정(10m)    105120 non-null  int64
 19  지면온도(°C)   105120 non-null  float64
 20  총지수        105120 non-null  float64
 21  생활물가지수     105120 non-null  float64
 22  전기료        105120 non-null  float64
dtypes: float64(14), int64(6), object(3)
memory usage: 18.4+ MB

In [229]:
df_economy = pd.read_csv('고용지표_20240608223610.csv')

In [230]:
df_economy.head()

         시점 경제활동참가율 경제활동참가율.1 경제활동참가율.2  실업률 실업률.1 실업률.2   고용률 고용률.1 고용률.2
0        시점      합계        남자        여자   합계    남자    여자    합계    남자    여자
1  2021. 01    61.3      70.0      53.4  6.5   6.0   7.2  57.3  65.8  49.6
2  2021. 02    61.9      70.7      53.9  6.5   5.7   7.3  57.9  66.6  50.0
3  2021. 03    62.5      71.5      54.2  5.4   5.2   5.7  59.1  67.8  51.1
4  2021. 04    62.4      71.0      54.6  5.0   4.8   5.3  59.2  67.6  51.7

In [231]:
df_economy = df_economy.iloc[1:,[0,1,4,7]]

df_economy.head()

         시점 경제활동참가율  실업률   고용률
1  2021. 01    61.3  6.5  57.3
2  2021. 02    61.9  6.5  57.9
3  2021. 03    62.5  5.4  59.1
4  2021. 04    62.4  5.0  59.2
5  2021. 05    62.9  5.2  59.6

In [232]:
df_economy['년'] = df_economy['시점'].str.split('.').str[0]
df_economy['월'] = df_economy['시점'].str.split('.').str[1]

df_economy['년'] = df_economy['년'].astype('int64')
df_economy['월'] = df_economy['월'].astype('int64')

df_economy.head()

         시점 경제활동참가율  실업률   고용률     년  월
1  2021. 01    61.3  6.5  57.3  2021  1
2  2021. 02    61.9  6.5  57.9  2021  2
3  2021. 03    62.5  5.4  59.1  2021  3
4  2021. 04    62.4  5.0  59.2  2021  4
5  2021. 05    62.9  5.2  59.6  2021  5

In [233]:
merged_df = pd.merge(df, df_economy, on=['년','월'], how='left')

merged_df.head()

,일시,날짜,년,월,일,시간,분,요일,주말,기온(°C),...,전운량(10분위),시정(10m),지면온도(°C),총지수,생활물가지수,전기료,시점,경제활동참가율,실업률,고용률
0,2021-01-01 00:00:00,2021-01-01,2021,1,1,0,0,금요일,0.0,-8.3,...,0.0,2000,-6.800,100.86,100.86,100.38,2021. 01,61.3,6.5,57.3
1,2021-01-01 00:15:00,2021-01-01,2021,1,1,0,15,금요일,0.0,-8.4,...,0.0,2000,-6.825,100.86,100.86,100.38,2021. 01,61.3,6.5,57.3
2,2021-01-01 00:30:00,2021-01-01,2021,1,1,0,30,금요일,0.0,-8.5,...,0.0,2000,-6.850,100.86,100.86,100.38,2021. 01,61.3,6.5,57.3
3,2021-01-01 00:45:00,2021-01-01,2021,1,1,0,45,금요일,0.0,-8.6,...,0.0,2000,-6.875,100.86,100.86,100.38,2021. 01,61.3,6.5,57.3
4,2021-01-01 01:00:00,2021-01-01,2021,1,1,1,0,금요일,0.0,-8.7,...,0.0,2000,-6.900,100.86,100.86,100.38,2021. 01,61.3,6.5,57.3

In [234]:
merged_df = merged_df.drop(columns='시점')

merged_df.head()

,일시,날짜,년,월,일,시간,분,요일,주말,기온(°C),...,적설(cm),전운량(10분위),시정(10m),지면온도(°C),총지수,생활물가지수,전기료,경제활동참가율,실업률,고용률
0,2021-01-01 00:00:00,2021-01-01,2021,1,1,0,0,금요일,0.0,-8.3,...,0.0,0.0,2000,-6.800,100.86,100.86,100.38,61.3,6.5,57.3
1,2021-01-01 00:15:00,2021-01-01,2021,1,1,0,15,금요일,0.0,-8.4,...,0.0,0.0,2000,-6.825,100.86,100.86,100.38,61.3,6.5,57.3
2,2021-01-01 00:30:00,2021-01-01,2021,1,1,0,30,금요일,0.0,-8.5,...,0.0,0.0,2000,-6.850,100.86,100.86,100.38,61.3,6.5,57.3
3,2021-01-01 00:45:00,2021-01-01,2021,1,1,0,45,금요일,0.0,-8.6,...,0.0,0.0,2000,-6.875,100.86,100.86,100.38,61.3,6.5,57.3
4,2021-01-01 01:00:00,2021-01-01,2021,1,1,1,0,금요일,0.0,-8.7,...,0.0,0.0,2000,-6.900,100.86,100.86,100.38,61.3,6.5,57.3

In [235]:
merged_df.tail()

,일시,날짜,년,월,일,시간,분,요일,주말,기온(°C),...,적설(cm),전운량(10분위),시정(10m),지면온도(°C),총지수,생활물가지수,전기료,경제활동참가율,실업률,고용률
105115,2023-12-31 22:45:00,2023-12-31,2023,12,31,22,45,일요일,0.0,1.000,...,0.6,0.0,423,-0.2,112.24,115.22,142.21,63.0,2.9,61.2
105116,2023-12-31 23:00:00,2023-12-31,2023,12,31,23,0,일요일,0.0,0.900,...,0.6,0.0,656,-0.2,112.24,115.22,142.21,63.0,2.9,61.2
105117,2023-12-31 23:15:00,2023-12-31,2023,12,31,23,15,일요일,0.0,0.825,...,0.6,0.0,656,-0.2,112.24,115.22,142.21,63.0,2.9,61.2
105118,2023-12-31 23:30:00,2023-12-31,2023,12,31,23,30,일요일,0.0,0.750,...,0.6,0.0,656,-0.2,112.24,115.22,142.21,63.0,2.9,61.2
105119,2023-12-31 23:45:00,2023-12-31,2023,12,31,23,45,일요일,0.0,0.675,...,0.6,0.0,656,-0.2,112.24,115.22,142.21,63.0,2.9,61.2

In [236]:
# merged_df.to_csv('full_data_add_economy.csv', encoding='cp949')

In [237]:
df_indicator = pd.read_excel('주요지표_분기지표__20240608225025.xlsx')

df_indicator.head()

d:\Hun's\Hun's\sh95fit_git\Bigdata_Study\Bigdata_Competition\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,계정항목별,2021.1/4,2021.2/4,2021.3/4,2021.4/4,2022.1/4,2022.2/4,2022.3/4,2022.4/4,2023.1/4,2023.2/4,2023.3/4,2023.4/4
0,"국내총생산(GDP)(실질, 계절조정, 전기비)",1.8,0.9,0.1,1.4,0.7,0.8,0.2,-0.3,0.3,0.6,0.6,0.6
1,비농림어업GDP,1.7,1.0,0.0,1.4,0.7,0.9,0.2,-0.3,0.4,0.5,0.6,0.7
2,농림어업,5.8,-6.7,7.1,1.4,-1.6,-5.1,2.9,1.3,-6.3,5.4,1.5,-6.7
3,제조업,3.3,-0.1,-0.8,1.5,2.3,-0.2,-0.6,-3.9,1.3,2.5,1.4,1.2
4,건설업,0.8,-1.0,-1.5,2.0,-0.5,-1.4,2.1,2.9,3.0,-3.9,2.3,-3.8

In [238]:
df_indicator_T = df_indicator.transpose()

df_indicator_T.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
계정항목별,"국내총생산(GDP)(실질, 계절조정, 전기비)",비농림어업GDP,농림어업,제조업,건설업,서비스업,ICT산업,비ICT산업,"국내총생산에 대한 지출(실질, 계절조정, 전기비)",민간소비,...,재화수입,내수(재고제외),명목 GNI(전기비),실질 GNI(전기비),명목 GNI(전년동기비),실질 GNI(전년동기비),"GDP 디플레이터 등락률(원계열, 전년동기비)",총저축률,국내총투자율,"수출입의 대 GNI 비율(명목, 계절조정)"
2021.1/4,1.8,1.7,5.8,3.3,0.8,1.2,3.0,1.7,1.8,1.4,...,10.5,2.6,1.8,1.6,5.2,3.7,3.0,37.1,31.0,76.9
2021.2/4,0.9,1.0,-6.7,-0.1,-1.0,1.5,2.5,0.4,0.9,2.9,...,16.6,4.2,3.6,0.5,10.2,6.6,2.2,36.8,32.0,81.7
2021.3/4,0.1,0.0,7.1,-0.8,-1.5,0.7,1.5,0.1,0.1,0.4,...,9.6,3.4,-0.6,-1.2,7.0,2.5,2.8,36.1,32.1,85.6
2021.4/4,1.4,1.4,1.4,1.5,2.0,1.6,4.1,1.2,1.4,1.3,...,13.8,5.0,2.2,0.3,7.4,1.4,3.1,35.9,32.9,92.7

In [239]:
df_indicator_T = df_indicator_T.iloc[:,:9]

df_indicator_T.head()

,0,1,2,3,4,5,6,7,8
계정항목별,"국내총생산(GDP)(실질, 계절조정, 전기비)",비농림어업GDP,농림어업,제조업,건설업,서비스업,ICT산업,비ICT산업,"국내총생산에 대한 지출(실질, 계절조정, 전기비)"
2021.1/4,1.8,1.7,5.8,3.3,0.8,1.2,3.0,1.7,1.8
2021.2/4,0.9,1.0,-6.7,-0.1,-1.0,1.5,2.5,0.4,0.9
2021.3/4,0.1,0.0,7.1,-0.8,-1.5,0.7,1.5,0.1,0.1
2021.4/4,1.4,1.4,1.4,1.5,2.0,1.6,4.1,1.2,1.4

In [240]:
df_indicator_T.reset_index(inplace=True)
df_indicator_T.columns = df_indicator_T.iloc[0]
df_indicator_T = df_indicator_T.iloc[1:]

df_indicator_T['년'] = df_indicator_T['계정항목별'].str.split('.').str[0]
df_indicator_T['분기'] = df_indicator_T['계정항목별'].str.split('.').str[1]

df_indicator_T['년'] = df_indicator_T['년'].astype('int64')

df_indicator_T.head()

,계정항목별,"국내총생산(GDP)(실질, 계절조정, 전기비)",비농림어업GDP,농림어업,제조업,건설업,서비스업,ICT산업,비ICT산업,"국내총생산에 대한 지출(실질, 계절조정, 전기비)",년,분기
1,2021.1/4,1.8,1.7,5.8,3.3,0.8,1.2,3.0,1.7,1.8,2021,1/4
2,2021.2/4,0.9,1.0,-6.7,-0.1,-1.0,1.5,2.5,0.4,0.9,2021,2/4
3,2021.3/4,0.1,0.0,7.1,-0.8,-1.5,0.7,1.5,0.1,0.1,2021,3/4
4,2021.4/4,1.4,1.4,1.4,1.5,2.0,1.6,4.1,1.2,1.4,2021,4/4
5,2022.1/4,0.7,0.7,-1.6,2.3,-0.5,0.4,0.1,1.0,0.7,2022,1/4

In [241]:
def get_quarter(month):
    if month in [1,2,3]:
        return 'Q1'
    elif month in [4,5,6]:
        return 'Q2'
    elif month in [7,8,9]:
        return 'Q3'
    elif month in [10,11,12]:
        return 'Q4'

merged_df['분기'] = merged_df['월'].apply(get_quarter)

merged_df.head()

,일시,날짜,년,월,일,시간,분,요일,주말,기온(°C),...,전운량(10분위),시정(10m),지면온도(°C),총지수,생활물가지수,전기료,경제활동참가율,실업률,고용률,분기
0,2021-01-01 00:00:00,2021-01-01,2021,1,1,0,0,금요일,0.0,-8.3,...,0.0,2000,-6.800,100.86,100.86,100.38,61.3,6.5,57.3,Q1
1,2021-01-01 00:15:00,2021-01-01,2021,1,1,0,15,금요일,0.0,-8.4,...,0.0,2000,-6.825,100.86,100.86,100.38,61.3,6.5,57.3,Q1
2,2021-01-01 00:30:00,2021-01-01,2021,1,1,0,30,금요일,0.0,-8.5,...,0.0,2000,-6.850,100.86,100.86,100.38,61.3,6.5,57.3,Q1
3,2021-01-01 00:45:00,2021-01-01,2021,1,1,0,45,금요일,0.0,-8.6,...,0.0,2000,-6.875,100.86,100.86,100.38,61.3,6.5,57.3,Q1
4,2021-01-01 01:00:00,2021-01-01,2021,1,1,1,0,금요일,0.0,-8.7,...,0.0,2000,-6.900,100.86,100.86,100.38,61.3,6.5,57.3,Q1

In [242]:
def convert_quarter(quarter):
    mapping = {'1/4': 'Q1', '2/4': 'Q2', '3/4': 'Q3', '4/4': 'Q4'}
    return mapping.get(quarter)

df_indicator_T['분기'] = df_indicator_T['분기'].apply(convert_quarter)

df_indicator_T.head()

,계정항목별,"국내총생산(GDP)(실질, 계절조정, 전기비)",비농림어업GDP,농림어업,제조업,건설업,서비스업,ICT산업,비ICT산업,"국내총생산에 대한 지출(실질, 계절조정, 전기비)",년,분기
1,2021.1/4,1.8,1.7,5.8,3.3,0.8,1.2,3.0,1.7,1.8,2021,Q1
2,2021.2/4,0.9,1.0,-6.7,-0.1,-1.0,1.5,2.5,0.4,0.9,2021,Q2
3,2021.3/4,0.1,0.0,7.1,-0.8,-1.5,0.7,1.5,0.1,0.1,2021,Q3
4,2021.4/4,1.4,1.4,1.4,1.5,2.0,1.6,4.1,1.2,1.4,2021,Q4
5,2022.1/4,0.7,0.7,-1.6,2.3,-0.5,0.4,0.1,1.0,0.7,2022,Q1

In [243]:
final_data = pd.merge(merged_df, df_indicator_T, on=['년','분기'], how='left')

In [244]:
final_data = final_data.drop(columns=['계정항목별'])
final_data.head()

,일시,날짜,년,월,일,시간,분,요일,주말,기온(°C),...,분기,"국내총생산(GDP)(실질, 계절조정, 전기비)",비농림어업GDP,농림어업,제조업,건설업,서비스업,ICT산업,비ICT산업,"국내총생산에 대한 지출(실질, 계절조정, 전기비)"
0,2021-01-01 00:00:00,2021-01-01,2021,1,1,0,0,금요일,0.0,-8.3,...,Q1,1.8,1.7,5.8,3.3,0.8,1.2,3.0,1.7,1.8
1,2021-01-01 00:15:00,2021-01-01,2021,1,1,0,15,금요일,0.0,-8.4,...,Q1,1.8,1.7,5.8,3.3,0.8,1.2,3.0,1.7,1.8
2,2021-01-01 00:30:00,2021-01-01,2021,1,1,0,30,금요일,0.0,-8.5,...,Q1,1.8,1.7,5.8,3.3,0.8,1.2,3.0,1.7,1.8
3,2021-01-01 00:45:00,2021-01-01,2021,1,1,0,45,금요일,0.0,-8.6,...,Q1,1.8,1.7,5.8,3.3,0.8,1.2,3.0,1.7,1.8
4,2021-01-01 01:00:00,2021-01-01,2021,1,1,1,0,금요일,0.0,-8.7,...,Q1,1.8,1.7,5.8,3.3,0.8,1.2,3.0,1.7,1.8

In [245]:
final_data.tail()

,일시,날짜,년,월,일,시간,분,요일,주말,기온(°C),...,분기,"국내총생산(GDP)(실질, 계절조정, 전기비)",비농림어업GDP,농림어업,제조업,건설업,서비스업,ICT산업,비ICT산업,"국내총생산에 대한 지출(실질, 계절조정, 전기비)"
105115,2023-12-31 22:45:00,2023-12-31,2023,12,31,22,45,일요일,0.0,1.000,...,Q4,0.6,0.7,-6.7,1.2,-3.8,0.8,5.0,0.0,0.6
105116,2023-12-31 23:00:00,2023-12-31,2023,12,31,23,0,일요일,0.0,0.900,...,Q4,0.6,0.7,-6.7,1.2,-3.8,0.8,5.0,0.0,0.6
105117,2023-12-31 23:15:00,2023-12-31,2023,12,31,23,15,일요일,0.0,0.825,...,Q4,0.6,0.7,-6.7,1.2,-3.8,0.8,5.0,0.0,0.6
105118,2023-12-31 23:30:00,2023-12-31,2023,12,31,23,30,일요일,0.0,0.750,...,Q4,0.6,0.7,-6.7,1.2,-3.8,0.8,5.0,0.0,0.6
105119,2023-12-31 23:45:00,2023-12-31,2023,12,31,23,45,일요일,0.0,0.675,...,Q4,0.6,0.7,-6.7,1.2,-3.8,0.8,5.0,0.0,0.6

In [246]:
final_data.to_csv('real_final_data.csv', encoding='cp949')