In [2]:
import pandas as pd
import numpy as np

from datetime import datetime

In [3]:
w_data = pd.read_csv('total_weather.csv', encoding='cp949')

w_data = w_data.fillna(0)

# 년, 월, 일, 시간 분리
w_data['일시'] = pd.to_datetime(w_data['일시'], format='%Y-%m-%d %H:%M', errors='raise')
w_data['년'] = w_data['일시'].dt.year
w_data['월'] = w_data['일시'].dt.month
w_data['일'] = w_data['일시'].dt.day
w_data['시간'] = w_data['일시'].dt.hour
w_data['분'] = w_data['일시'].dt.minute

w_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26281 entries, 0 to 26280
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   일시         26281 non-null  datetime64[ns]
 1   기온(°C)     26281 non-null  float64
 2   강수량(mm)    26281 non-null  float64
 3   풍속(m/s)    26281 non-null  float64
 4   습도(%)      26281 non-null  int64
 5   현지기압(hPa)  26281 non-null  float64
 6   일조(hr)     26281 non-null  float64
 7   일사(MJ/m2)  26281 non-null  float64
 8   적설(cm)     26281 non-null  float64
 9   전운량(10분위)  26281 non-null  float64
 10  시정(10m)    26281 non-null  int64
 11  지면온도(°C)   26281 non-null  float64
 12  년          26281 non-null  int32
 13  월          26281 non-null  int32
 14  일          26281 non-null  int32
 15  시간         26281 non-null  int32
 16  분          26281 non-null  int32
dtypes: datetime64[ns](1), float64(9), int32(5), int64(2)
memory usage: 2.9 MB

In [4]:
w_data.head()

,일시,기온(°C),강수량(mm),풍속(m/s),습도(%),현지기압(hPa),일조(hr),일사(MJ/m2),적설(cm),전운량(10분위),시정(10m),지면온도(°C),년,월,일,시간,분
0,2021-01-01 00:00:00,-8.3,0.0,1.8,66,1016.4,0.0,0.0,0.0,0.0,2000,-6.8,2021,1,1,0,0
1,2021-01-01 01:00:00,-8.7,0.0,2.4,68,1016.4,0.0,0.0,0.0,0.0,2000,-6.9,2021,1,1,1,0
2,2021-01-01 02:00:00,-9.1,0.0,1.6,69,1016.2,0.0,0.0,0.0,0.0,2000,-7.1,2021,1,1,2,0
3,2021-01-01 03:00:00,-9.3,0.0,1.1,70,1016.8,0.0,0.0,0.0,0.0,2000,-7.3,2021,1,1,3,0
4,2021-01-01 04:00:00,-9.3,0.0,0.3,71,1016.2,0.0,0.0,0.0,0.0,2000,-7.5,2021,1,1,4,0

In [5]:
w_data.set_index('일시', inplace=True)

In [6]:
w_data_15T = w_data.resample('15min').asfreq()

print(len(w_data_15T), len(w_data)*4)

105121 105124

In [7]:
print(w_data_15T.head())
print(w_data_15T.tail())

                     기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  현지기압(hPa)  일조(hr)  \
일시
2021-01-01 00:00:00    -8.3      0.0      1.8   66.0     1016.4     0.0
2021-01-01 00:15:00     NaN      NaN      NaN    NaN        NaN     NaN
2021-01-01 00:30:00     NaN      NaN      NaN    NaN        NaN     NaN
2021-01-01 00:45:00     NaN      NaN      NaN    NaN        NaN     NaN
2021-01-01 01:00:00    -8.7      0.0      2.4   68.0     1016.4     0.0

                     일사(MJ/m2)  적설(cm)  전운량(10분위)  시정(10m)  지면온도(°C)       년  \
일시
2021-01-01 00:00:00        0.0     0.0        0.0   2000.0      -6.8  2021.0
2021-01-01 00:15:00        NaN     NaN        NaN      NaN       NaN     NaN
2021-01-01 00:30:00        NaN     NaN        NaN      NaN       NaN     NaN
2021-01-01 00:45:00        NaN     NaN        NaN      NaN       NaN     NaN
2021-01-01 01:00:00        0.0     0.0        0.0   2000.0      -6.9  2021.0

                       월    일   시간    분
일시
2021-01-01 00:00:00  1.0  1.0  0.0  0.0
2021-01-01 00:15:00  NaN  NaN  NaN  NaN
2021-01-01 00:30:00  NaN  NaN  NaN  NaN
2021-01-01 00:45:00  NaN  NaN  NaN  NaN
2021-01-01 01:00:00  1.0  1.0  1.0  0.0
                     기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  현지기압(hPa)  일조(hr)  \
일시
2023-12-31 23:00:00     0.9      0.0      0.8   96.0     1014.9     0.0
2023-12-31 23:15:00     NaN      NaN      NaN    NaN        NaN     NaN
2023-12-31 23:30:00     NaN      NaN      NaN    NaN        NaN     NaN
2023-12-31 23:45:00     NaN      NaN      NaN    NaN        NaN     NaN
2024-01-01 00:00:00     0.6      0.0      1.9   97.0     1015.4     0.0

                     일사(MJ/m2)  적설(cm)  전운량(10분위)  시정(10m)  지면온도(°C)       년  \
일시
2023-12-31 23:00:00        0.0     2.4        0.0    656.0      -0.2  2023.0
2023-12-31 23:15:00        NaN     NaN        NaN      NaN       NaN     NaN
2023-12-31 23:30:00        NaN     NaN        NaN      NaN       NaN     NaN
2023-12-31 23:45:00        NaN     NaN        NaN      NaN       NaN     NaN
2024-01-01 00:00:00        0.0     2.4        0.0    394.0      -0.2  2024.0

                        월     일    시간    분
일시
2023-12-31 23:00:00  12.0  31.0  23.0  0.0
2023-12-31 23:15:00   NaN   NaN   NaN  NaN
2023-12-31 23:30:00   NaN   NaN   NaN  NaN
2023-12-31 23:45:00   NaN   NaN   NaN  NaN
2024-01-01 00:00:00   1.0   1.0   0.0  0.0

In [8]:
w_data_15T = w_data_15T.iloc[:-1,:]

w_data_15T.tail()

,기온(°C),강수량(mm),풍속(m/s),습도(%),현지기압(hPa),일조(hr),일사(MJ/m2),적설(cm),전운량(10분위),시정(10m),지면온도(°C),년,월,일,시간,분
일시,,,,,,,,,,,,,,,,
2023-12-31 22:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-12-31 23:00:00,0.9,0.0,0.8,96.0,1014.9,0.0,0.0,2.4,0.0,656.0,-0.2,2023.0,12.0,31.0,23.0,0.0
2023-12-31 23:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-12-31 23:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-12-31 23:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
w_data_15T['기온(°C)'] = w_data['기온(°C)'].resample('15min').interpolate(method='linear')

#### asfreq 대신 값을 모두 채워놓는 ffill을 활용해서 모두 채운 후 보간법 및 나누기 적용

In [10]:
wdata_15T = w_data.resample('15min').ffill()

In [11]:
wdata_15T.head()

,기온(°C),강수량(mm),풍속(m/s),습도(%),현지기압(hPa),일조(hr),일사(MJ/m2),적설(cm),전운량(10분위),시정(10m),지면온도(°C),년,월,일,시간,분
일시,,,,,,,,,,,,,,,,
2021-01-01 00:00:00,-8.3,0.0,1.8,66,1016.4,0.0,0.0,0.0,0.0,2000,-6.8,2021,1,1,0,0
2021-01-01 00:15:00,-8.3,0.0,1.8,66,1016.4,0.0,0.0,0.0,0.0,2000,-6.8,2021,1,1,0,0
2021-01-01 00:30:00,-8.3,0.0,1.8,66,1016.4,0.0,0.0,0.0,0.0,2000,-6.8,2021,1,1,0,0
2021-01-01 00:45:00,-8.3,0.0,1.8,66,1016.4,0.0,0.0,0.0,0.0,2000,-6.8,2021,1,1,0,0
2021-01-01 01:00:00,-8.7,0.0,2.4,68,1016.4,0.0,0.0,0.0,0.0,2000,-6.9,2021,1,1,1,0

In [12]:
wdata_15T['기온(°C)'] = w_data['기온(°C)'].resample('15min').interpolate(method='linear')
wdata_15T['지면온도(°C)'] = w_data['지면온도(°C)'].resample('15min').interpolate(method='linear')
wdata_15T['습도(%)'] = w_data['습도(%)'].resample('15min').interpolate(method='linear')
wdata_15T['현지기압(hPa)'] = w_data['현지기압(hPa)'].resample('15min').interpolate(method='linear')
wdata_15T['일사(MJ/m2)'] = w_data['일사(MJ/m2)'].resample('15min').interpolate(method='linear')

In [13]:
wdata_15T.head()

,기온(°C),강수량(mm),풍속(m/s),습도(%),현지기압(hPa),일조(hr),일사(MJ/m2),적설(cm),전운량(10분위),시정(10m),지면온도(°C),년,월,일,시간,분
일시,,,,,,,,,,,,,,,,
2021-01-01 00:00:00,-8.3,0.0,1.8,66.0,1016.4,0.0,0.0,0.0,0.0,2000,-6.800,2021,1,1,0,0
2021-01-01 00:15:00,-8.4,0.0,1.8,66.5,1016.4,0.0,0.0,0.0,0.0,2000,-6.825,2021,1,1,0,0
2021-01-01 00:30:00,-8.5,0.0,1.8,67.0,1016.4,0.0,0.0,0.0,0.0,2000,-6.850,2021,1,1,0,0
2021-01-01 00:45:00,-8.6,0.0,1.8,67.5,1016.4,0.0,0.0,0.0,0.0,2000,-6.875,2021,1,1,0,0
2021-01-01 01:00:00,-8.7,0.0,2.4,68.0,1016.4,0.0,0.0,0.0,0.0,2000,-6.900,2021,1,1,1,0

In [14]:
for col in ['강수량(mm)', '일조(hr)', '적설(cm)']:
    wdata_15T[col] = w_data[col].resample('15min').ffill() / 4

In [15]:
wdata_15T = wdata_15T.fillna(0)

In [16]:
wdata_15T.to_csv('final_weather.csv', encoding='cp949')