In [23]:
import pandas as pd
import numpy as np

from datetime import timedelta
from datetime import datetime

In [24]:
# 년도별 기상 데이터 가져오기
for year in range(2021, 2024) :
  globals()['weather_'+str(year)] = f'OBS_ASOS_TIM_{year}.csv'
  globals()['w_data_'+str(year)] = pd.read_csv(globals()['weather_'+str(year)], encoding='cp949')

w_data = pd.concat((w_data_2021, w_data_2022, w_data_2023), axis=0)

w_data.head()

,지점,지점명,일시,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),...,최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,108,서울,2021-01-01 00:00,-8.3,NaN,NaN,9.0,1.8,NaN,250.0,...,NaN,2000,NaN,NaN,-6.8,NaN,-0.9,-0.7,0.3,1.6
1,108,서울,2021-01-01 01:00,-8.7,NaN,NaN,NaN,2.4,NaN,270.0,...,NaN,2000,NaN,NaN,-6.9,NaN,-1.0,-0.8,0.3,1.6
2,108,서울,2021-01-01 02:00,-9.1,NaN,NaN,NaN,1.6,NaN,270.0,...,NaN,2000,NaN,NaN,-7.1,NaN,-1.1,-0.8,0.3,1.6
3,108,서울,2021-01-01 03:00,-9.3,NaN,NaN,NaN,1.1,NaN,250.0,...,NaN,2000,NaN,NaN,-7.3,NaN,-1.2,-0.9,0.3,1.6
4,108,서울,2021-01-01 04:00,-9.3,NaN,NaN,NaN,0.3,NaN,0.0,...,NaN,2000,NaN,NaN,-7.5,NaN,-1.3,-1.0,0.2,1.5

In [25]:
print(len(w_data))

26280

In [26]:
day_list = pd.read_csv('2201_2312_date.csv')

print(len(day_list))

1095

In [27]:
w_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26280 entries, 0 to 8759
Data columns (total 38 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   지점             26280 non-null  int64
 1   지점명            26280 non-null  object
 2   일시             26280 non-null  object
 3   기온(°C)         26280 non-null  float64
 4   기온 QC플래그       0 non-null      float64
 5   강수량(mm)        2975 non-null   float64
 6   강수량 QC플래그      4861 non-null   float64
 7   풍속(m/s)        26241 non-null  float64
 8   풍속 QC플래그       22 non-null     float64
 9   풍향(16방위)       26241 non-null  float64
 10  풍향 QC플래그       22 non-null     float64
 11  습도(%)          26280 non-null  int64
 12  습도 QC플래그       0 non-null      float64
 13  증기압(hPa)       26280 non-null  float64
 14  이슬점온도(°C)      26280 non-null  float64
 15  현지기압(hPa)      26280 non-null  float64
 16  현지기압 QC플래그     0 non-null      float64
 17  해면기압(hPa)      26280 non-null  float64
 18  해면기압 QC플래그     0 non-null      float64
 19  일조(hr)         14363 non-null  float64
 20  일조 QC플래그       11900 non-null  float64
 21  일사(MJ/m2)      14363 non-null  float64
 22  일사 QC플래그       11901 non-null  float64
 23  적설(cm)         1104 non-null   float64
 24  3시간신적설(cm)     84 non-null     float64
 25  전운량(10분위)      26278 non-null  float64
 26  중하층운량(10분위)    26280 non-null  int64
 27  운형(운형약어)       14667 non-null  object
 28  최저운고(100m )    13656 non-null  float64
 29  시정(10m)        26280 non-null  int64
 30  지면상태(지면상태코드)   0 non-null      float64
 31  현상번호(국내식)      6275 non-null   float64
 32  지면온도(°C)       26273 non-null  float64
 33  지면온도 QC플래그     48 non-null     float64
 34  5cm 지중온도(°C)   26274 non-null  float64
 35  10cm 지중온도(°C)  26274 non-null  float64
 36  20cm 지중온도(°C)  26274 non-null  float64
 37  30cm 지중온도(°C)  26274 non-null  float64
dtypes: float64(31), int64(4), object(3)
memory usage: 7.8+ MB

In [28]:
w_data = w_data.iloc[:,[2, 3, 5, 7, 11, 15, 19, 21, 23, 25, 29, 32]]

w_data.head()

,일시,기온(°C),강수량(mm),풍속(m/s),습도(%),현지기압(hPa),일조(hr),일사(MJ/m2),적설(cm),전운량(10분위),시정(10m),지면온도(°C)
0,2021-01-01 00:00,-8.3,NaN,1.8,66,1016.4,NaN,NaN,NaN,0.0,2000,-6.8
1,2021-01-01 01:00,-8.7,NaN,2.4,68,1016.4,NaN,NaN,NaN,0.0,2000,-6.9
2,2021-01-01 02:00,-9.1,NaN,1.6,69,1016.2,NaN,NaN,NaN,0.0,2000,-7.1
3,2021-01-01 03:00,-9.3,NaN,1.1,70,1016.8,NaN,NaN,NaN,0.0,2000,-7.3
4,2021-01-01 04:00,-9.3,NaN,0.3,71,1016.2,NaN,NaN,NaN,0.0,2000,-7.5

In [30]:
#w_data.to_csv("total_weather.csv", encoding='cp949')