In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

np.random.seed(123)
df1 = pd.DataFrame(np.random.randint(100,200,30).reshape(5,6))
df1.columns = list('ABCDEF')

print(df1)

     A    B    C    D    E    F
0  166  192  198  117  183  157
1  186  197  196  147  173  132
2  146  196  125  183  178  136
3  196  180  168  149  155  167
4  102  184  139  166  184  147

In [18]:
print(df1.index)
print(df1.columns)
print(df1.dtypes)
print(df1.describe())

RangeIndex(start=0, stop=5, step=1)
Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')
A    int32
B    int32
C    int32
D    int32
E    int32
F    int32
dtype: object
                A           B           C           D           E           F
count    5.000000    5.000000    5.000000    5.000000    5.000000    5.000000
mean   159.200000  189.800000  165.200000  152.400000  174.600000  147.800000
std     37.298794    7.496666   32.919599   24.572342   11.802542   14.515509
min    102.000000  180.000000  125.000000  117.000000  155.000000  132.000000
25%    146.000000  184.000000  139.000000  147.000000  173.000000  136.000000
50%    166.000000  192.000000  168.000000  149.000000  178.000000  147.000000
75%    186.000000  196.000000  196.000000  166.000000  183.000000  157.000000
max    196.000000  197.000000  198.000000  183.000000  184.000000  167.000000

In [19]:
df1.loc[2,'C'] = np.NaN

print(df1)
print(df1.describe()) # NaN이 있는 경우 count 값이 줄어들어 결측치 유무 확인이 가능!

     A    B      C    D    E    F
0  166  192  198.0  117  183  157
1  186  197  196.0  147  173  132
2  146  196    NaN  183  178  136
3  196  180  168.0  149  155  167
4  102  184  139.0  166  184  147
                A           B           C           D           E           F
count    5.000000    5.000000    4.000000    5.000000    5.000000    5.000000
mean   159.200000  189.800000  175.250000  152.400000  174.600000  147.800000
std     37.298794    7.496666   27.777389   24.572342   11.802542   14.515509
min    102.000000  180.000000  139.000000  117.000000  155.000000  132.000000
25%    146.000000  184.000000  160.750000  147.000000  173.000000  136.000000
50%    166.000000  192.000000  182.000000  149.000000  178.000000  147.000000
75%    186.000000  196.000000  196.500000  166.000000  183.000000  157.000000
max    196.000000  197.000000  198.000000  183.000000  184.000000  167.000000

In [20]:
print(df1.isna())
df1['A'].hasnans  # Series에만 있는 프로퍼티
# df1.hasnans # Dataframe에는 적용 불가!

for col_name in df1:
  print(col_name, df1[col_name].hasnans)

       A      B      C      D      E      F
0  False  False  False  False  False  False
1  False  False  False  False  False  False
2  False  False   True  False  False  False
3  False  False  False  False  False  False
4  False  False  False  False  False  False
A False
B False
C True
D False
E False
F False

In [21]:
print(df1.dropna())   # 결측치가 있는 경우 무조건 삭제 처리

print(df1.dropna(inplace=True)) # return 값은 None

print(df1)  # 원본은 그대로 살아있음!

     A    B      C    D    E    F
0  166  192  198.0  117  183  157
1  186  197  196.0  147  173  132
3  196  180  168.0  149  155  167
4  102  184  139.0  166  184  147
None
     A    B      C    D    E    F
0  166  192  198.0  117  183  157
1  186  197  196.0  147  173  132
3  196  180  168.0  149  155  167
4  102  184  139.0  166  184  147

In [22]:
# sorted() --> copy
# np.sort() --> inplace

In [23]:
print(df1)
# print(df1.drop('A', axis=1))
# print(df1.drop(3, axis=0))

print(df1.drop(['A', 'C', 'E'], axis=1, inplace=True))
print(df1)

     A    B      C    D    E    F
0  166  192  198.0  117  183  157
1  186  197  196.0  147  173  132
3  196  180  168.0  149  155  167
4  102  184  139.0  166  184  147
None
     B    D    F
0  192  117  157
1  197  147  132
3  180  149  167
4  184  166  147

In [24]:
print(df1)

df1['D+F'] = df1['D']+df1['F']
print(df1)
df1.insert(0, 'D*F', df1['D']*df1['F']) #in-place 

print(df1)

     B    D    F
0  192  117  157
1  197  147  132
3  180  149  167
4  184  166  147
     B    D    F  D+F
0  192  117  157  274
1  197  147  132  279
3  180  149  167  316
4  184  166  147  313
     D*F    B    D    F  D+F
0  18369  192  117  157  274
1  19404  197  147  132  279
3  24883  180  149  167  316
4  24402  184  166  147  313