In [72]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [73]:
np.random.seed(123)
df1 = pd.DataFrame(np.random.randint(100,200,30).reshape(5,6))
df1.columns = list('ABCDEF')

df2 = pd.DataFrame(np.random.randint(10,100,30).reshape(5,6))
df2.columns = list('ABCDEF')

In [74]:
#pd.concat((df1,df2), ignore_index=True)

pd.concat((df1,df2), axis=1, ignore_index=True)

    0    1    2    3    4    5   6   7   8   9   10  11
0  166  192  198  117  183  157  71  58  17  62  95  37
1  186  197  196  147  173  132  44  86  50  13  79  74
2  146  196  125  183  178  136  85  44  68  20  32  87
3  196  180  168  149  155  167  28  25  37  40  62  80
4  102  184  139  166  184  147  36  90  16  24  85  64

In [75]:
df2.columns = list('EFGHIJ')
print(df1)
print(df2)

# pd.concat((df1, df2), join='inner')

     A    B    C    D    E    F
0  166  192  198  117  183  157
1  186  197  196  147  173  132
2  146  196  125  183  178  136
3  196  180  168  149  155  167
4  102  184  139  166  184  147
    E   F   G   H   I   J
0  71  58  17  62  95  37
1  44  86  50  13  79  74
2  85  44  68  20  32  87
3  28  25  37  40  62  80
4  36  90  16  24  85  64

In [76]:
df3 = pd.concat((df1, df2), join='outer')
print(df3.dropna())

Empty DataFrame
Columns: [A, B, C, D, E, F, G, H, I, J]
Index: []

In [77]:
df3.dropna(axis=1)

     E    F
0  183  157
1  173  132
2  178  136
3  155  167
4  184  147
0   71   58
1   44   86
2   85   44
3   28   25
4   36   90

In [78]:
print(df1)

new_sample = pd.Series([10,20,30,40,50,60], index=list('ABCDEF'), name='new_sample')

new_row = new_sample.to_frame().T

df4 =pd.concat((df1,new_row), ignore_index=True)
print(df4)

     A    B    C    D    E    F
0  166  192  198  117  183  157
1  186  197  196  147  173  132
2  146  196  125  183  178  136
3  196  180  168  149  155  167
4  102  184  139  166  184  147
     A    B    C    D    E    F
0  166  192  198  117  183  157
1  186  197  196  147  173  132
2  146  196  125  183  178  136
3  196  180  168  149  155  167
4  102  184  139  166  184  147
5   10   20   30   40   50   60

In [79]:
import pickle

with open('mydata.pickle', 'wb') as f :
  pickle.dump(df4, f)

In [81]:
df4.to_csv('mydata.csv')

In [82]:
with open('mydata.pickle', 'rb') as f :
  df_read = pickle.load(f)
  
print(df_read)

     A    B    C    D    E    F
0  166  192  198  117  183  157
1  186  197  196  147  173  132
2  146  196  125  183  178  136
3  196  180  168  149  155  167
4  102  184  139  166  184  147
5   10   20   30   40   50   60