#### 데이터 분석, 시각화
1. 주제 선정 : 마약 연계 범죄 현황 / 심각성

2. 데이터 선정 : kosis.kr 범죄자 마약류 등 상용여부 (경찰청,경찰청범죄통계, 2011~2021, 전국단위)

3. 분석 목표
  * 2011~2021년 내 마약류 관리에 관한 법률 위반 범죄 건수의 증감 추이

4. 데이터 읽어오기, 전처리, 통합 => 단일 df

5. 데이터 탐색 (EDA)

6. 분석 목표별 분석 및 시각화

7. 결론.

In [127]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import matplotlib

matplotlib.rcParams

matplotlib.rcParams['font.family']

current_font_list = matplotlib.rcParams['font.family']

font_path = 'C:\\Windows\\Fonts\\batang.ttc'

kfont = matplotlib.font_manager.FontProperties(fname=font_path).get_name()

matplotlib.rcParams['font.family'] = [kfont] + current_font_list

In [128]:
filename = './data/범죄자_마약류_등_상용여부_20230418163024.csv'

pd_data = pd.read_csv(filename, encoding='cp949', header=[0,1,2])

pd_data = pd_data.drop(('범죄별(1)', '범죄별(1)', '범죄별(1)'), axis=1)
pd_data = pd_data.drop(('범죄별(2)', '범죄별(2)', '범죄별(2)'), axis=1)
pd_data = pd_data.drop(('범죄별(3)', '범죄별(3)', '범죄별(3)'), axis=1)

pd_data.head()

      2014                                                                \
        합계   마약류                   본드·신나 등 환각물질     알코올      해당무      미상
        소계    소계   마약   대마 향정신성의약품           소계      소계       소계      소계
0  1879548  3922  672  527    2723          331  152037  1083423  639835
1   949859   310  113   25     172           52   45833   568718  334946
2   411083   164   77   12      75           17    7059   242422  161421
3    96901    55   18    6      31           13    2015    86342    8476
4     5071     -    -    -       -            -      13     4497     561

      2015  ...    2020     2021                                               \
        합계  ...      미상       합계   마약류                    본드·신나 등 환각물질    알코올
        소계  ...      소계       소계    소계   마약    대마 향정신성의약품           소계     소계
0  1948966  ...  640964  1359952  5599  559  1147    3893          126  90045
1   993932  ...  362401   740929   310   57    40     213           13  30507
2   431741  ...  170114   329808   162   31    18     113            7   5555
3   104246  ...   11166    86336    45    6     6      33            2   1185
4     4730  ...     230      618     -    -     -       -            -      2


      해당무      미상
       소계      소계
0  793961  470221
1  465407  244692
2  219224  104860
3   76234    8870
4     506     110

[5 rows x 72 columns]

In [129]:
pd_data = pd_data.stack(level=0)

# print(pd_data.columns)

pd_data.columns = ['대마', '마약', '마약류', '항정신성의약품', '미상', '환각물질', '알코올', '합계', '해당무']

pd_data

          대마   마약   마약류 항정신성의약품      미상 환각물질     알코올       합계      해당무
0  2014  527  672  3922    2723  639835  331  152037  1879548  1083423
   2015  187  411  1456     858  693962  216  137226  1948966  1116106
   2016  107  239  1056     710  705501  221  127388  2020196  1186030
   2017  149  264  1238     825  669437  211  122001  1861796  1068909
   2018  633  466  4501    3402  669674  234  118506  1749459   956544
...      ...  ...   ...     ...     ...  ...     ...      ...      ...
75 2017    -    -     3       3    1514    -     496     5628     3615
   2018    1    0     1       0     939    0     343     3429     2146
   2019    -    -     -       -     228    1      62      568      277
   2020    1    -     5       4    3397    -     864     9902     5636
   2021    2    1     8       5    3088    -     727     8672     4849

[608 rows x 9 columns]

In [130]:
pd_data = pd_data.replace('-', '0')

pd_data['마약'] = pd_data['마약'].astype(np.int64) + pd_data['마약류'].astype(np.int64)

pd_data = pd_data.drop('마약류', axis=1)


pd_data

          대마    마약 항정신성의약품      미상 환각물질     알코올       합계      해당무
0  2014  527  4594    2723  639835  331  152037  1879548  1083423
   2015  187  1867     858  693962  216  137226  1948966  1116106
   2016  107  1295     710  705501  221  127388  2020196  1186030
   2017  149  1502     825  669437  211  122001  1861796  1068909
   2018  633  4967    3402  669674  234  118506  1749459   956544
...      ...   ...     ...     ...  ...     ...      ...      ...
75 2017    0     3       3    1514    0     496     5628     3615
   2018    1     1       0     939    0     343     3429     2146
   2019    0     0       0     228    1      62      568      277
   2020    1     5       4    3397    0     864     9902     5636
   2021    2     9       5    3088    0     727     8672     4849

[608 rows x 8 columns]

In [131]:
pd_data = pd_data[['마약', '대마', '항정신성의약품', '환각물질', '알코올', '미상', '해당무', '합계']]

pd_data = pd_data.fillna(0)

pd_data

           마약   대마 항정신성의약품 환각물질     알코올      미상      해당무       합계
0  2014  4594  527    2723  331  152037  639835  1083423  1879548
   2015  1867  187     858  216  137226  693962  1116106  1948966
   2016  1295  107     710  221  127388  705501  1186030  2020196
   2017  1502  149     825  211  122001  669437  1068909  1861796
   2018  4967  633    3402  234  118506  669674   956544  1749459
...       ...  ...     ...  ...     ...     ...      ...      ...
75 2017     3    0       3    0     496    1514     3615     5628
   2018     1    1       0    0     343     939     2146     3429
   2019     0    0       0    1      62     228      277      568
   2020     5    1       4    0     864    3397     5636     9902
   2021     9    2       5    0     727    3088     4849     8672

[608 rows x 8 columns]

In [132]:
pd_data = pd_data.reset_index()

pd_data = pd_data.set_index('level_1')
pd_data = pd_data.drop('level_0', axis=1)
pd_data.index.name = '시점'


pd_data['구분'] = pd.Series(['범죄자']*608, index=pd_data.index)

pd_data = pd_data.reset_index()

pd_data = pd_data.set_index(['구분', '시점'])

# pd_data = pd_data.unstack(level=0)

pd_data

            마약   대마 항정신성의약품 환각물질     알코올      미상      해당무       합계
구분  시점
범죄자 2014  4594  527    2723  331  152037  639835  1083423  1879548
    2015  1867  187     858  216  137226  693962  1116106  1948966
    2016  1295  107     710  221  127388  705501  1186030  2020196
    2017  1502  149     825  211  122001  669437  1068909  1861796
    2018  4967  633    3402  234  118506  669674   956544  1749459
...        ...  ...     ...  ...     ...     ...      ...      ...
    2017     3    0       3    0     496    1514     3615     5628
    2018     1    1       0    0     343     939     2146     3429
    2019     0    0       0    1      62     228      277      568
    2020     5    1       4    0     864    3397     5636     9902
    2021     9    2       5    0     727    3088     4849     8672

[608 rows x 8 columns]

In [133]:
def criminal_drug(filename, drop, col_order, division) :
  pd_data = pd.read_csv(filename, encoding='cp949', header=[0,1,2])

  for i in drop :
    pd_data = pd_data.drop((i), axis=1)

  pd_data = pd_data.stack(level=0)

  pd_data.columns = col_order

  pd_data = pd_data.replace('-', '0')

  pd_data['마약'] = pd_data['마약'].astype(np.int64) + pd_data['마약류'].astype(np.int64)

  pd_data = pd_data.drop('마약류', axis=1)

  pd_data = pd_data[['마약', '대마', '항정신성의약품', '환각물질', '알코올', '미상', '해당무', '합계']]

  pd_data = pd_data.fillna(0)

  pd_data = pd_data.reset_index()

  pd_data = pd_data.set_index('level_1')
  pd_data = pd_data.drop('level_0', axis=1)
  pd_data.index.name = '시점'

  pd_data['구분'] = pd.Series([division]*len(pd_data), index=pd_data.index)

  pd_data = pd_data.reset_index()

  pd_data = pd_data.set_index(['구분', '시점'])

  return pd_data

In [134]:

# 범죄자
filename_1 = './data/범죄자_마약류_등_상용여부_20230418163024.csv'
drop_list_1= [('범죄별(1)', '범죄별(1)', '범죄별(1)'), ('범죄별(2)', '범죄별(2)', '범죄별(2)'),('범죄별(3)', '범죄별(3)', '범죄별(3)')]
col_order_1 = ['대마', '마약', '마약류', '항정신성의약품', '미상', '환각물질', '알코올', '합계', '해당무']
division_1 = '범죄자'

# 여성범죄자
filename_2 = './data/여성범죄자_마약류_등_상용여부_20230418163243.csv'
drop_list_2= [('죄종별(1)','죄종별(1)','죄종별(1)'), ('죄종별(2)','죄종별(2)','죄종별(2)')]
col_order_2 = ['합계', '대마', '마약', '마약류', '항정신성의약품', '미상', '환각물질', '알코올', '해당무']
division_2 = '여성범죄자'

# 미성년범죄자
filename_3 = './data/미성년범죄자_마약류_등_상용여부_20230418163426.csv'
drop_list_3= [('죄종별(1)','죄종별(1)','죄종별(1)'), ('죄종별(2)','죄종별(2)','죄종별(2)')]
col_order_3 = ['합계', '대마', '마약', '마약류', '항정신성의약품', '미상', '환각물질', '알코올', '해당무']
division_3 = '미성년범죄자'

# 외국인범죄자
filename_4 = './data/외국인범죄자_마약류_등_상용여부_20230418163352.csv'
drop_list_4= [('죄종별(1)','죄종별(1)','죄종별(1)'), ('죄종별(2)','죄종별(2)','죄종별(2)')]
col_order_4 = ['합계', '대마', '마약', '마약류', '항정신성의약품', '미상', '환각물질', '알코올', '해당무']
division_4 = '외국인범죄자'


# 학생범죄자
filename_5 = './data/학생범죄자_마약류_등_상용여부_20230418163120.csv'
drop_list_5= [('죄종별(1)','죄종별(1)','죄종별(1)'), ('죄종별(2)','죄종별(2)','죄종별(2)')]
col_order_5 = ['합계', '대마', '마약', '마약류', '항정신성의약품', '미상', '환각물질', '알코올', '해당무']
division_5 = '학생범죄자'


# 전과자
filename_6 = './data/전과자_마약류_등_상용여부_20230418163210.csv'
drop_list_6= [('범죄별(1)', '범죄별(1)', '범죄별(1)'), ('범죄별(2)', '범죄별(2)', '범죄별(2)'),('범죄별(3)', '범죄별(3)', '범죄별(3)')]
col_order_6 = ['대마', '마약', '마약류', '항정신성의약품', '미상', '환각물질', '알코올', '합계', '해당무']
division_6 = '전과자'

In [135]:
df1 = criminal_drug(filename_1, drop_list_1, col_order_1, division_1)
df2 = criminal_drug(filename_2, drop_list_2, col_order_2, division_2)
df3 = criminal_drug(filename_3, drop_list_3, col_order_3, division_3)
df4 = criminal_drug(filename_4, drop_list_4, col_order_4, division_4)
df5 = criminal_drug(filename_5, drop_list_5, col_order_5, division_5)
df6 = criminal_drug(filename_6, drop_list_6, col_order_6, division_6)

In [136]:
df1

            마약   대마 항정신성의약품 환각물질     알코올      미상      해당무       합계
구분  시점
범죄자 2014  4594  527    2723  331  152037  639835  1083423  1879548
    2015  1867  187     858  216  137226  693962  1116106  1948966
    2016  1295  107     710  221  127388  705501  1186030  2020196
    2017  1502  149     825  211  122001  669437  1068909  1861796
    2018  4967  633    3402  234  118506  669674   956544  1749459
...        ...  ...     ...  ...     ...     ...      ...      ...
    2017     3    0       3    0     496    1514     3615     5628
    2018     1    1       0    0     343     939     2146     3429
    2019     0    0       0    1      62     228      277      568
    2020     5    1       4    0     864    3397     5636     9902
    2021     9    2       5    0     727    3088     4849     8672

[608 rows x 8 columns]

In [137]:
df2

             마약  대마 항정신성의약품 환각물질    알코올      미상     해당무      합계
구분    시점
여성범죄자 2014  483  32     351   54  15025  108206  192289  316007
      2015  153  13     114   47  13902  119986  199372  333447
      2016  171  12     113   46  12880  122586  211430  347090
      2017  190  23     135   60  12769  116095  198490  327588
      2018  873  56     643   67  12687  121383  189001  323924
...         ...  ..     ...  ...    ...     ...     ...     ...
      2017    7   0       5   58    495   20381   50388   71328
      2018   38   2      20   65    517   21614   44967   67193
      2019   33   4      17  113    631   23819   46130   70720
      2020   30   1      25   26    611   24291   41319   66275
      2021   37   3      22   11    632   19589   39191   59454

[344 rows x 8 columns]

In [138]:
df3

             마약  대마 항정신성의약품 환각물질   알코올    미상    해당무     합계
구분     시점
미성년범죄자 2014  63  20      19  142  1716  6916  68455  77280
       2015  27   6       7  119  1691  8857  68655  79342
       2016  17   3       8  146  1474  8562  65561  75757
       2017  32   1      17  116  1558  8437  62289  72425
       2018  34  11      21   56  1592  6561  57542  65784
...          ..  ..     ...  ...   ...   ...    ...    ...
       2017   5   0       3  112   107  1200   5850   7273
       2018   0   0       0   53   132  1026   5351   6562
       2019   2   0       0   44    97  1133   5316   6591
       2020   1   0       1   14   149  1140   5658   6962
       2021   2   0       0    7   150  1040   4947   6145

[344 rows x 8 columns]

In [139]:
df4

              마약  대마 항정신성의약품 환각물질   알코올    미상    해당무     합계
구분     시점
외국인범죄자 2014  251  96     125    1  2572  5808  19839  28456
       2015   94  18      66    0  2629  7686  25039  35443
       2016   73   7      56    0  2473  8687  29816  41044
       2017   51  12      35    1  2472  7677  23706  33905
       2018  413  54     335    1  2570  7993  21348  32313
...          ...  ..     ...  ...   ...   ...    ...    ...
       2017    1   1       0    1   102   945   4715   5764
       2018    4   0       2    0   118  1048   4401   5570
       2019    9   5       2    4   137  1275   5523   6947
       2020    9   2       7    2   124  1260   4675   6070
       2021   14   0      12    0   118  1103   3348   4582

[344 rows x 8 columns]

In [140]:
df5

             마약  대마 항정신성의약품 환각물질   알코올     미상    해당무     합계
구분    시점
학생범죄자 2014  129  42      45   83  4083  12846  69721  86841
      2015   41  15       8   75  3920  17098  74514  95639
      2016   14   4       8  110  3224  16636  72364  92347
      2017   33   7      12   84  3169  15722  67442  86443
      2018   79  36      41   43  3040  13336  60764  77261
...         ...  ..     ...  ...   ...    ...    ...    ...
      2017    3   0       3   81   133   2228   7399   9844
      2018    2   0       2   41   184   2062   6565   8854
      2019    2   0       0   28   151   2057   6392   8629
      2020    2   0       2   10   172   1959   6661   8804
      2021    2   0       0    8   173   1872   6166   8220

[344 rows x 8 columns]

In [141]:
df6

            마약   대마 항정신성의약품 환각물질     알코올     미상     해당무      합계
구분  시점
전과자 2014  3353  306    2267  267  106068  19637  723309  852244
    2015  1048  100     624  159   95760  17368  745304  859477
    2016   893   79     548  143   89147  17820  790126  897996
    2017   908   77     573  131   84905  16459  709379  811653
    2018  3744  425    2683  172   83643  13994  630676  731911
...        ...  ...     ...  ...     ...    ...     ...     ...
    2017     3    0       3    0     369     10    2527    2909
    2018     1    1       0    0     256      5    1498    1760
    2019     0    0       0    1      48      1     196     246
    2020     5    1       4    0     631     14    3924    4574
    2021     8    2       4    0     557      7    3351    3922

[552 rows x 8 columns]

In [142]:
df_total = pd.concat([df1,df2,df3,df4,df5,df6])

df_total = df_total.reset_index()

df_total = df_total.set_index(keys=['시점','구분'])

df_total

            마약   대마 항정신성의약품 환각물질     알코올      미상      해당무       합계
시점   구분
2014 범죄자  4594  527    2723  331  152037  639835  1083423  1879548
2015 범죄자  1867  187     858  216  137226  693962  1116106  1948966
2016 범죄자  1295  107     710  221  127388  705501  1186030  2020196
2017 범죄자  1502  149     825  211  122001  669437  1068909  1861796
2018 범죄자  4967  633    3402  234  118506  669674   956544  1749459
...        ...  ...     ...  ...     ...     ...      ...      ...
2017 전과자     3    0       3    0     369      10     2527     2909
2018 전과자     1    1       0    0     256       5     1498     1760
2019 전과자     0    0       0    1      48       1      196      246
2020 전과자     5    1       4    0     631      14     3924     4574
2021 전과자     8    2       4    0     557       7     3351     3922

[2536 rows x 8 columns]

In [143]:
df = df_total.reset_index()

# print(df.dtypes)

for c in df.iloc[:, 2:] :
  df[c] = df[c].astype(np.int64)

g1 = df.groupby(['시점', '구분'])

# print(df.dtypes)

g1.sum()

                마약    대마  항정신성의약품  환각물질     알코올       미상      해당무       합계
시점   구분
2014 미성년범죄자    136    40       38   301    4461    17876   165748   188493
     범죄자     17918  2090    10728   782  601440  2240076  3922956  6780622
     여성범죄자     992    64      714   111   33401   269133   452917   756447
     외국인범죄자    506   194      250     2    6279    15351    47896    70003
     전과자     13142  1208     8958   634  419612    51282  2634434  3117616
     학생범죄자     270    84       90   180    9943    32682   168728   211755
2015 미성년범죄자     64    12       14   241    4470    22845   166160   193761
     범죄자      7260   742     3378   480  542864  2436498  4051988  7037520
     여성범죄자     316    27      231    97   30810   296259   471459   798912
     외국인범죄자    190    36      134     0    6237    19935    60045    86397
     전과자      4106   396     2458   360  378884    44168  2721472  3148364
     학생범죄자      97    30       17   151    9629    43450   179999   233301
2016 미성년범죄자     38     6       16   300    3864    22214   160388   186796
     범죄자      5006   426     2800   514  503478  2487630  4269874  7265612
     여성범죄자     367    24      233    98   28508   301485   495311   825714
     외국인범죄자    148    14      112     0    5718    22307    69057    97219
     전과자      3496   316     2168   348  352362    45010  2858344  3259054
     학생범죄자      30     8       16   225    7810    42714   176613   227389
2017 미성년범죄자     70     2       34   236    4135    22191   153338   179953
     범죄자      5774   588     3246   468  481010  2352326  3833296  6671904
     여성범죄자     385    47      274   121   28386   285819   466142   780821
     외국인범죄자    103    24       71     2    5766    19869    56240    81976
     전과자      3492   304     2248   298  334716    40686  2560040  2938762
     학생범죄자      73    15       24   171    7777    40836   165405   214245
2018 미성년범죄자     73    25       44   115    4214    17357   144086   165843
     범죄자     19476  2504    13488   516  465718  2366878  3434606  6285452
     여성범죄자    1779   116     1297   136   28512   300439   449522   780205
     외국인범죄자    834   108      676     3    5983    20802    51042    78639
     전과자     14760  1680    10656   380  328684    33962  2280112  2656686
     학생범죄자     161    74       83    88    7579    34789   151623   194238
2019 미성년범죄자    125    40       45   119    4023    16624   145235   166106
     범죄자     24862  4252    16466   804  403818  2422578  3442102  6292092
     여성범죄자    2424   238     1664   246   26130   318470   474245   821254
     외국인범죄자   1342   192     1012    12    5883    22598    57833    87599
     전과자     17746  2382    12800   564  286720    32570  2260564  2596882
     학생범죄자     250   126       84    71    6977    32765   148169   188212
2020 미성년범죄자    263    39       82    31    3702    15403   140588   159916
     범죄자     25788  4836    16496   338  388300  2285854  3225668  5923720
     여성범죄자    2693   203     1870    59   25695   310821   431381   770339
     외국인범죄자   1691   266     1285     4    5425    22185    55975    85210
     전과자     16942  2300    12026   252  279536    25228  2134026  2454676
     학생범죄자     433   189      122    20    6071    29482   144676   180621
2021 미성년범죄자    248    27       57    14    3678    13851   117237   134946
     범죄자     24290  4560    15442   278  352368  1651296  2831672  4857760
     여성범죄자    2713   273     1876    22   24282   223381   398191   648307
     외국인범죄자   2029   225     1556     0    4622    16510    47206    70243
     전과자     15726  2466    10596   240  250656    22408  1833100  2120798
     학생범죄자     439   149      116    16    5662    25225   130156   161411