In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### data.go.kr : 전국도서관표준데이터

- 전국 단위 도서관 유형별 개수 : groupby, count 활용
- 시도별 도서관 개수 : groupby, count 활용
- 시도별 도서관 유형별 개수 : groupby, count 활용
- 시도별 도서관 유형별 자료수(도서) 평균, 합 : groupby, agg 활용

- 전국 단위 : 열람좌석수 최대 도서관 : describe, max 활용
- 전국 단위 : 자료수 최대, 최소 도서관 : max, min 활용

In [17]:
pd_data = pd.read_csv('전국도서관표준데이터.csv', encoding='cp949')

# print(pd_data.head())

for i,n in enumerate(pd_data.columns):
    print(i, n)

0 도서관명
1 시도명
2 시군구명
3 도서관유형
4 휴관일
5 평일운영시작시각
6 평일운영종료시각
7 토요일운영시작시각
8 토요일운영종료시각
9 공휴일운영시작시각
10 공휴일운영종료시각
11 열람좌석수
12 자료수(도서)
13 자료수(연속간행물)
14 자료수(비도서)
15 대출가능권수
16 대출가능일수
17 소재지도로명주소
18 운영기관명
19 도서관전화번호
20 부지면적
21 건물면적
22 홈페이지주소
23 위도
24 경도
25 데이터기준일자
26 제공기관코드
27 제공기관명

In [18]:
sub_data = pd_data[['시도명', '도서관유형', '자료수(도서)', '열람좌석수']]

In [19]:
# 전국 단위 도서관 유형별 개수
g1 = sub_data.groupby(['도서관유형'])
g1.count()

         시도명  자료수(도서)  열람좌석수
도서관유형
공공도서관   1283     1283   1283
대학도서관      1        1      1
어린이도서관    33       33     33
작은도서관   2107     2107   2107
장애인도서관     1        1      1
전문도서관      5        5      5
학교도서관     26       26     26

In [20]:
g4 = sub_data.groupby(['시도명'])
g4.count()

         도서관유형  자료수(도서)  열람좌석수
시도명
강원도         79       79     79
경기도        495      495    495
경상남도       426      426    426
경상북도       168      168    168
광주광역시      348      348    348
대구광역시      229      229    229
대전광역시      110      110    110
부산광역시      185      185    185
서울특별시      543      543    543
세종특별자치시     20       20     20
울산광역시      146      146    146
인천광역시      194      194    194
전라남도       128      128    128
전라북도       158      158    158
제주특별자치도     37       37     37
충청남도        77       77     77
충청북도       113      113    113

In [21]:
# 시도별 도서관 유형별 개수
g2 = sub_data.groupby(['시도명', '도서관유형'])
g2.count()

                자료수(도서)  열람좌석수
시도명     도서관유형
강원도     공공도서관        47     47
        작은도서관        32     32
경기도     공공도서관       283    283
        어린이도서관       11     11
        작은도서관       199    199
        전문도서관         2      2
경상남도    공공도서관       123    123
        작은도서관       303    303
경상북도    공공도서관       108    108
        어린이도서관        1      1
        작은도서관        59     59
광주광역시   공공도서관        49     49
        작은도서관       298    298
        전문도서관         1      1
대구광역시   공공도서관        41     41
        작은도서관       187    187
        전문도서관         1      1
대전광역시   공공도서관        48     48
        작은도서관        62     62
부산광역시   공공도서관        35     35
        어린이도서관        2      2
        작은도서관       148    148
서울특별시   공공도서관       189    189
        어린이도서관        4      4
        작은도서관       348    348
        학교도서관         2      2
세종특별자치시 공공도서관        14     14
        작은도서관         6      6
울산광역시   공공도서관        22     22
        작은도서관       123    123
        전문도서관         1      1
인천광역시   공공도서관        56     56
        어린이도서관       10     10
        작은도서관       128    128
전라남도    공공도서관        67     67
        어린이도서관        2      2
        작은도서관        59     59
전라북도    공공도서관        61     61
        어린이도서관        1      1
        작은도서관        96     96
제주특별자치도 공공도서관        22     22
        작은도서관        14     14
        장애인도서관        1      1
충청남도    공공도서관        43     43
        작은도서관        34     34
충청북도    공공도서관        75     75
        대학도서관         1      1
        어린이도서관        2      2
        작은도서관        11     11
        학교도서관        24     24

In [22]:
# 시도별 도서관 유형별 자료수(도서) 평균, 합
g3 = sub_data.groupby(['시도명', '도서관유형'])
df_g3 = g3.agg([np.mean, np.sum])
df_g3['자료수(도서)']

                         mean       sum
시도명     도서관유형
강원도     공공도서관    60593.914894   2847914
        작은도서관     8220.187500    263046
경기도     공공도서관   113466.650177  32111062
        어린이도서관   95144.909091   1046594
        작은도서관    11739.964824   2336253
        전문도서관    12432.500000     24865
경상남도    공공도서관    94537.211382  11628077
        작은도서관     8339.854785   2526976
경상북도    공공도서관    63071.175926   6811687
        어린이도서관   52076.000000     52076
        작은도서관     7374.864407    435117
광주광역시   공공도서관    86180.816327   4222860
        작은도서관     4541.120805   1353254
        전문도서관    58340.000000     58340
대구광역시   공공도서관   128874.292683   5283846
        작은도서관     7713.374332   1442401
        전문도서관   100000.000000    100000
대전광역시   공공도서관   108449.000000   5205552
        작은도서관     5523.806452    342476
부산광역시   공공도서관    88494.457143   3097306
        어린이도서관   30586.500000     61173
        작은도서관     6409.574324    948617
서울특별시   공공도서관    51674.137566   9766412
        어린이도서관   23975.000000     95900
        작은도서관     9008.367816   3134912
        학교도서관    27351.000000     54702
세종특별자치시 공공도서관    46062.642857    644877
        작은도서관     8304.666667     49828
울산광역시   공공도서관   129009.500000   2838209
        작은도서관     6384.325203    785272
        전문도서관    11653.000000     11653
인천광역시   공공도서관    92013.767857   5152771
        어린이도서관   30905.600000    309056
        작은도서관     6274.210938    803099
전라남도    공공도서관    96391.865672   6458255
        어린이도서관   59203.000000    118406
        작은도서관     4058.084746    239427
전라북도    공공도서관    77573.475410   4731982
        어린이도서관   28055.000000     28055
        작은도서관     9501.666667    912160
제주특별자치도 공공도서관   122424.636364   2693342
        작은도서관     6517.285714     91242
        장애인도서관    3196.000000      3196
충청남도    공공도서관    98422.581395   4232171
        작은도서관     7962.323529    270719
충청북도    공공도서관    98375.466667   7378160
        대학도서관   170997.000000    170997
        어린이도서관  115330.500000    230661
        작은도서관     4134.272727     45477
        학교도서관    11192.708333    268625

In [23]:
# 전국 단위 : 열람좌석수 최대 도서관
sub_data['열람좌석수'].describe()
sub_data['열람좌석수'].max()

3989

In [24]:
# 전국 단위 : 자료수 최대, 최소 도서관
sub_data['자료수(도서)'].describe()
print('최대 :',sub_data['자료수(도서)'].max(), '최소 :', sub_data['자료수(도서)'].min())

최대 : 872312 최소 : 0

In [25]:
# by filter

filter1 = sub_data['열람좌석수'] == sub_data['열람좌석수'].max()
filter2 = sub_data['열람좌석수'] == sub_data['열람좌석수'].min()
filter3 = sub_data['자료수(도서)'] == sub_data['자료수(도서)'].max()
filter4 = sub_data['자료수(도서)'] == sub_data['자료수(도서)'].min()

sub_data[filter4]

        시도명  도서관유형  자료수(도서)  열람좌석수
380    전라북도  공공도서관        0    136
775    전라북도  공공도서관        0    462
1000  부산광역시  작은도서관        0      0
1523  서울특별시  공공도서관        0     56
1813  서울특별시  공공도서관        0      8
2559  서울특별시  작은도서관        0    114
3395    경기도  공공도서관        0    400

### kosis.kr : 2021년 시도별 인구

- 취합하여 하나의 df로 완성(pd.concat 활용)
- 시도명(인덱스), 도서관 개수, 인구, 인구1인당 도서관 수

In [26]:
population_data = pd.read_csv('2021_population.csv', encoding='cp949')

population_data = population_data.iloc[1:,:]

population_data['행정구역별(읍면동)'].unique()
sub_data['시도명'].unique()

population_data.set_index('행정구역별(읍면동)', inplace=True)
population_data.rename(columns={'2021':'인구'}, inplace=True)
population_data

                  인구
행정구역별(읍면동)
서울특별시        9472127
부산광역시        3324335
대구광역시        2387911
인천광역시        2957044
광주광역시        1475262
대전광역시        1479740
울산광역시        1120753
세종특별자치시       366227
경기도         13652529
강원도          1521890
충청북도         1624764
충청남도         2175960
전라북도         1787053
전라남도         1778124
경상북도         2635314
경상남도         3305931
제주특별자치도       673107

In [27]:
print(len(sub_data['시도명'].unique()))
print(len(population_data))

17
17

In [28]:
g_df = sub_data.groupby('시도명').count()
g1_df = g_df[['도서관유형']]
g1_df.rename(columns= {'도서관유형': '도서관개수'}, inplace=True)
g1_df

C:\Users\tpgns\AppData\Local\Temp\ipykernel_14936\2160716015.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  g1_df.rename(columns= {'도서관유형': '도서관개수'}, inplace=True)

         도서관개수
시도명
강원도         79
경기도        495
경상남도       426
경상북도       168
광주광역시      348
대구광역시      229
대전광역시      110
부산광역시      185
서울특별시      543
세종특별자치시     20
울산광역시      146
인천광역시      194
전라남도       128
전라북도       158
제주특별자치도     37
충청남도        77
충청북도       113

In [29]:
df = pd.concat([g1_df, population_data], axis=1)
df

         도서관개수        인구
강원도         79   1521890
경기도        495  13652529
경상남도       426   3305931
경상북도       168   2635314
광주광역시      348   1475262
대구광역시      229   2387911
대전광역시      110   1479740
부산광역시      185   3324335
서울특별시      543   9472127
세종특별자치시     20    366227
울산광역시      146   1120753
인천광역시      194   2957044
전라남도       128   1778124
전라북도       158   1787053
제주특별자치도     37    673107
충청남도        77   2175960
충청북도       113   1624764

In [30]:
lib_per = df['도서관개수'].astype('float64')/df['인구'].astype('float64')

df = pd.concat([df, lib_per], axis=1)

df.rename(columns={0:'인구1인당 도서관 수'}, inplace=True)

df

         도서관개수        인구  인구1인당 도서관 수
강원도         79   1521890     0.000052
경기도        495  13652529     0.000036
경상남도       426   3305931     0.000129
경상북도       168   2635314     0.000064
광주광역시      348   1475262     0.000236
대구광역시      229   2387911     0.000096
대전광역시      110   1479740     0.000074
부산광역시      185   3324335     0.000056
서울특별시      543   9472127     0.000057
세종특별자치시     20    366227     0.000055
울산광역시      146   1120753     0.000130
인천광역시      194   2957044     0.000066
전라남도       128   1778124     0.000072
전라북도       158   1787053     0.000088
제주특별자치도     37    673107     0.000055
충청남도        77   2175960     0.000035
충청북도       113   1624764     0.000070