In [117]:
import pandas as pd
import numpy as np

In [118]:
df = pd.read_csv("mtcars.csv")

df.rename(columns={'Unnamed: 0':"car"}, inplace=True)

df.head()

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

## 데이터 타입 (Object, Int, Float 등)

In [119]:
df.dtypes

car      object
mpg     float64
cyl       int64
disp    float64
hp        int64
drat    float64
wt      float64
qsec    float64
vs        int64
am        int64
gear      int64
carb      int64
dtype: object

In [120]:
# 데이터 타입 변경(1개)
df1 = df.copy()   # 얕은 복사 (ex> df1 = df) 시 df 변경 시 df1에 영향이 미친다. 따라서 copy() 사용
df1 = df1.astype({'cyl':'object'})
print(df1.dtypes)

car      object
mpg     float64
cyl      object
disp    float64
hp        int64
drat    float64
wt      float64
qsec    float64
vs        int64
am        int64
gear      int64
carb      int64
dtype: object

In [121]:
# 데이터 타입 변경 (2개 이상)
df1 = df1.astype({'cyl':'int', 'gear':'object'})
print(df1.dtypes)

car      object
mpg     float64
cyl       int32
disp    float64
hp        int64
drat    float64
wt      float64
qsec    float64
vs        int64
am        int64
gear     object
carb      int64
dtype: object

In [122]:
df1['cyl']

0     6
1     6
2     4
3     6
4     8
5     6
6     8
7     4
8     4
9     6
10    6
11    8
12    8
13    8
14    8
15    8
16    8
17    4
18    4
19    4
20    4
21    8
22    8
23    8
24    8
25    4
26    4
27    4
28    8
29    6
30    8
31    4
Name: cyl, dtype: int32

In [123]:
df1['cyl'].value_counts()

8    14
4    11
6     7
Name: cyl, dtype: int64

## 2. 기초통계량 (평균, 중앙값, IQR, 표준편차 등)

### 1) 중심측도를 나타내는 값(평균, 중양값, 최빈값)

In [124]:
df = pd.read_csv("mtcars.csv")
df.rename(columns={'Unnamed: 0':'car'}, inplace=True)

df.head()

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [125]:
df.shape  # (행, 열)

(32, 12)

In [126]:
# 평균값 구하기

mpg_mean = df['mpg'].mean()
print(mpg_mean)

20.090625000000003

In [127]:
# 중앙값 구하기

mpg_median = df['mpg'].median()
print(mpg_median)

19.2

In [128]:
# 최빈값 구하기

mpg_mode = df['cyl'].mode()
print(mpg_mode[0])

# 최빈값 확인
print(df['cyl'].value_counts())

8
8    14
4    11
6     7
Name: cyl, dtype: int64

### 2) 산포도를 나타내는 값 (분산, 표준편차, IQR, 범위(최대-최소) 등)

In [129]:
# 분산

mpg_var = df['mpg'].var()
print(mpg_var)

36.32410282258064

In [130]:
# 표준편차

mpg_std = df['mpg'].std()
print(mpg_std)

6.026948052089104

In [131]:
# IQR

Q1 = df['mpg'].quantile(.25)
Q3 = df['mpg'].quantile(.75)
IQR = Q3-Q1

print("Q1 = ", Q1)
print("Q3 = ", Q3)
print("Q2 = median = ", df['mpg'].quantile(.5), " = ", df['mpg'].median())
print("IQR = ", IQR)

Q1 =  15.425
Q3 =  22.8
Q2 = median =  19.2  =  19.2
IQR =  7.375

In [132]:
# 범위

mpg_max = df['mpg'].max()
mpg_min = df['mpg'].min()
mpg_range = mpg_max - mpg_min

print("Max : ", mpg_max)
print("Min : ", mpg_min)
print("Range : ", mpg_range)

Max :  33.9
Min :  10.4
Range :  23.5

### 3) 분포의 비대칭도

In [133]:
# 왜도

mpg_skew = df['mpg'].skew()
print(mpg_skew)

0.6723771376290805

In [134]:
# 첨도

mpg_kurt = df['mpg'].kurt()
print(mpg_kurt)

-0.0220062914240855

### 4) 기타(합계, 절대값, 데이터 수 등)

In [135]:
# 합계

mpg_sum = df['mpg'].sum()
print(mpg_sum)

642.9000000000001

In [136]:
# 절대값

IQR2 = Q1 - Q3
print(IQR2)
print(abs(IQR2))

-7.375
7.375

In [137]:
# 데이터 수

mpg_count = len(df['mpg'])
print(mpg_count)

32

### 5) 그룹화하여 계산하기 (groupby 활용)

In [138]:
# species별로 각 변수의 평균 구해보기

import seaborn as sns

df = sns.load_dataset('iris')

df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [139]:
group_mean = df.groupby('species').mean()
print(group_mean)

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.428         1.462        0.246
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

In [140]:
group_median = df.groupby('species').median()
print(group_median)

            sepal_length  sepal_width  petal_length  petal_width
species
setosa               5.0          3.4          1.50          0.2
versicolor           5.9          2.8          4.35          1.3
virginica            6.5          3.0          5.55          2.0

## 3. 데이터 인덱싱, 필터링, 정렬, 변경 등

In [141]:
df = pd.read_csv('mtcars.csv')
df.rename(columns={'Unnamed: 0':'car'}, inplace=True)

df.head(10)

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4

### 1) 데이터 인덱싱

In [142]:
# 행/열 인덱싱 : df.loc['행', '열']  or df.iloc[row index, column index]
print(df.loc[3, 'mpg'])
print(df.iloc[3, 1])

21.4
21.4

In [143]:
# 열만 인덱싱
print(df.loc[:, 'mpg'].head())
print(df.iloc[:,1].head())

0    21.0
1    21.0
2    22.8
3    21.4
4    18.7
Name: mpg, dtype: float64
0    21.0
1    21.0
2    22.8
3    21.4
4    18.7
Name: mpg, dtype: float64

In [144]:
# 여러 가지 열 가지고 오기
print(df.loc[0:3, ['mpg','cyl','disp']])
print(df.loc[0:3, 'mpg':'disp'])
print(df.iloc[0:3, 1:4])

    mpg  cyl   disp
0  21.0    6  160.0
1  21.0    6  160.0
2  22.8    4  108.0
3  21.4    6  258.0
    mpg  cyl   disp
0  21.0    6  160.0
1  21.0    6  160.0
2  22.8    4  108.0
3  21.4    6  258.0
    mpg  cyl   disp
0  21.0    6  160.0
1  21.0    6  160.0
2  22.8    4  108.0

In [145]:
# 앞에서 n행 인덱싱

df.head(2)

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.9,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.9,2.875,17.02,0,1,4,4

In [146]:
# 뒤에서 n행 인덱싱

df.tail(2)

              car   mpg  cyl   disp   hp  drat    wt  qsec  vs  am  gear  carb
30  Maserati Bora  15.0    8  301.0  335  3.54  3.57  14.6   0   1     5     8
31     Volvo 142E  21.4    4  121.0  109  4.11  2.78  18.6   1   1     4     2

### 2) 열(Columns) 추가/제거

In [147]:
# 열 선택

df_cyl = df['cyl']  # = df.cyl
df_cyl.head(3)

0    6
1    6
2    4
Name: cyl, dtype: int64

In [148]:
df.cyl.head(3)

0    6
1    6
2    4
Name: cyl, dtype: int64

In [149]:
df_new = df[['cyl','mpg']]
df_new.head(3)

   cyl   mpg
0    6  21.0
1    6  21.0
2    4  22.8

In [150]:
# 열 제거

print(df.head(3))
print(df.drop(columns=['car','mpg','cyl']).head(3))

             car   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  \
0      Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4
1  Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4
2     Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4

   carb
0     4
1     4
2     1
    disp   hp  drat     wt   qsec  vs  am  gear  carb
0  160.0  110  3.90  2.620  16.46   0   1     4     4
1  160.0  110  3.90  2.875  17.02   0   1     4     4
2  108.0   93  3.85  2.320  18.61   1   1     4     1

In [151]:
# 열 추가

df2 = df.copy()
df2['new'] = df['mpg'] + 10
df2.head(3)

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,new
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,31.0
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,31.0
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,32.8

### 3) 데이터 필터링

In [153]:
# 1개 조건 필터링
# cyl=4인 데이터의 수

cond1 = (df['cyl']==4)
print(len(df[cond1]))
print(df['cyl'].value_counts())

11
8    14
4    11
6     7
Name: cyl, dtype: int64

In [157]:
# mpg 값이 22 이상인 데이터 수

cond2 = (df['mpg'] >= 22)
print(len(df[cond2]))

9

In [160]:
# 2개의 조건 필터링 (and)

df[cond1 & cond2]

9

In [162]:
print(len(df[cond1 & cond2]))

9

In [163]:
# 2개의 조건 필터링 (or)

df[cond1 | cond2]

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [164]:
print(len(df[cond1 | cond2]))

11

In [167]:
# 한번에 코딩할 경우

print(len(df[ (df['cyl'] ==4) & (df['mpg'] >= 22)]))
print(len(df[ (df['cyl'] ==4) | (df['mpg'] >= 22)]))

9
11

### 4) 데이터 정렬

In [168]:
# 내림차순 정렬

df.sort_values('mpg', ascending=False).head()

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1

In [171]:
# 오름차순 정렬

print(df.sort_values('mpg').head(3))
print(df.sort_values('mpg', ascending=True).head(3))

                    car   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  \
15  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0   0
14   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0
23           Camaro Z28  13.3    8  350.0  245  3.73  3.840  15.41   0   0

    gear  carb
15     3     4
14     3     4
23     3     4
                    car   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  \
15  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0   0
14   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0
23           Camaro Z28  13.3    8  350.0  245  3.73  3.840  15.41   0   0

    gear  carb
15     3     4
14     3     4
23     3     4

### 5) 데이터 변경(조건문)

In [178]:
df = pd.read_csv('mtcars.csv')
df.rename(columns={"Unnamed: 0":"car"}, inplace=True)

df.head()

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [182]:
# np.where 활용
# hp 변수 값 중에서 205가 넘는 값은 205로 처리하고 나머지는 그대로 유지
df['hp']  = np.where(df['hp']>=205, 205, df['hp'])      # (조건, 참, 거짓)

# 내림차순 정렬
df.sort_values('hp', ascending=False).head(10)

# 활용 : 이상치를 Max 값이나 Min 값으로 대체할 경우 조건문 활용

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
16,Chrysler Imperial,14.7,8,440.0,205,3.23,5.345,17.42,0,0,3,4
30,Maserati Bora,15.0,8,301.0,205,3.54,3.570,14.60,0,1,5,8
28,Ford Pantera L,15.8,8,351.0,205,4.22,3.170,14.50,0,1,5,4
6,Duster 360,14.3,8,360.0,205,3.21,3.570,15.84,0,0,3,4
23,Camaro Z28,13.3,8,350.0,205,3.73,3.840,15.41,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,205,3.00,5.424,17.82,0,0,3,4
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3