## 핵심 문제 27개 (1~10)

In [82]:
# 데이터 불러오기
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, StandardScaler

df = pd.read_csv('mtcars.csv')

df.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [83]:
# 문제 1. mpg 변수의 제 1사분위수를 구하고 정수값으로 출력하시오.

Q1 = df['mpg'].quantile(.25)

print(round(Q1))

15

In [84]:
# 문제 2. mpg 값이 19 이상 21 이하인 데이터의 수를 구하시오.
df1 = df.copy()

cond1 = (df1['mpg'] >= 19)
cond2 = (df1['mpg'] <= 21)

print(len(df[cond1&cond2]))

5

In [85]:
# 문제 3. hp 변수의 IQR 값을 구하시오
df2 = df.copy()

Q1 = df2['hp'].quantile(.25)
Q3 = df2['hp'].quantile(.75)
IQR = abs(Q1-Q3)

print(IQR)

83.5

In [86]:
# 문제 4. wt 변수의 상위 10개 값의 총합을 구하여 소수점을 버리고 정수로 출력하시오.
df3 = df.copy()

sum_wt = sum(df3['wt'].sort_values(ascending=False)[:10])

print(round(sum_wt))


# 다른 풀이
top10 = df3.sort_values('wt', ascending=False)
sum_top10 = sum(top10['wt'].head(10))
print(int(sum_top10))

42
42

In [87]:
# 문제 5. 전체 자동차에서 cyl가 6인 비율이 얼마인지 소수점 첫째 자리까지 출력하시오.
df4 = df.copy()

total_cyl = len(df4['cyl'])

cond1 = (df4['cyl'] == 6)
cyl_6 = len(df4[cond1])

ratio_cyl = cyl_6/total_cyl

print(round(ratio_cyl, 1))

0.2

In [88]:
# 문제 6. 첫번째 행부터 순서대로 10개 뽑은 후 mpg 열의 평균값을 반올림하여 정수로 출력하시오.
df5 = df.copy()

avg_df5 = df5['mpg'][:10].mean()

print(round(avg_df5))

# 다른 풀이
df5_top10 = df5[:10]
mean10 = df5_top10['mpg'].mean()

print(round(mean10))

20
20

In [89]:
# 문제 7. 첫번째 행부터 순서대로 50%까지 데이터를 뽑아 wt 변수의 중앙값을 구하시오.
df6 = df.copy()

df_50per = df6[:int(len(df6)/2)]

wt_median = df_50per['wt'].median()

print(wt_median)

3.44

In [90]:
# 문제 8. 결측값이 있는 데이터의 수를 출력하시오.
new_df = pd.DataFrame({
  "날짜": ['20220103', '20220105', None, '20230127', '20220203', '20220205', '20230223', '20230325', '20230427', '20230526', '20230603', '20230723'],
  '제품': ['A', 'B', None, 'B', 'A', None, 'A', 'B', 'A', 'B', 'A', 'A'],
  '판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
  '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]
})

print(sum(new_df.isnull().sum()))

5

In [91]:
# 문제 9. '판매수' 컬럼의 결측값을 판매수의 중앙값으로 대체하고 판매수의 평균값을 정수로 출력하시오
df8 = new_df.copy()

print(df8.isnull().sum())

df8_median = df8['판매수'].median()
df8_Q2 = df8['판매수'].quantile(.5)

print(df8_median, df8_Q2)

df8['판매수'] = df8['판매수'].fillna(df8_median)

print(round(df8['판매수'].mean()))

날짜      1
제품      2
판매수     2
개당수익    0
dtype: int64
12.5 12.5
15

In [98]:
# 문제 10.
# 판매수 컬럼에 결측치가 있는 행을 제거하고,
# 첫번째 행부터 순서대로 50%까지 데이터를 추출하여
# 판매수 변수의 Q1(제1사분위수) 값을 정수로 출력하시오.
df9 = new_df.copy()

sale_df9 = df9['판매수'].dropna()
# print(sale_df9)

sale_50per = sale_df9[:int(len(sale_df9)/2)]
# print(sale_50per)

Q1 = sale_50per.quantile(.25)

print(round(Q1))

5