## 핵심문제 27개 (11~20번)

In [129]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, StandardScaler

df = pd.read_csv("mtcars.csv")

df.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [130]:
# 문제 11. cyl가 4인 자동차와 6인 자동차 그룹의 mpg 평균값 차이를 절대값으로 변환하여 정수로 출력하시오.
df11 = df.copy()

cond1 = (df11['cyl'] == 4)
cond2 = (df11['cyl'] == 6)

mpg_4 = df11['mpg'][cond1].mean()
mpg_6 = df11['mpg'][cond2].mean()

print(round(abs(mpg_4 - mpg_6)))

7

In [131]:
# 문제 12. hp 변수에 대해 데이터 표준화 (Z-score)를 진행하고 이상치의 수를 구하시오.
# (단, 이상치는 Z값이 1.5를 초과하거나 -1.5 미만인 값이다)
df12 = df.copy()

zscaler = StandardScaler()

df12['hp'] = zscaler.fit_transform(df12[['hp']])

cond1 = (df12['hp'] > 1.5)
cond2 = (df12['hp'] < -1.5)

print(len(df12[cond1|cond2]))


# 다른 풀이
# Z = (X-평균)/표준편차
hp_std = df12['hp'].std()
hp_mean = df12['hp'].mean()
df12['zscore'] = (df12['hp']-hp_mean)/hp_std

cond3 = (df12['zscore'] > 1.5)
cond4 = (df12['zscore'] < -1.5)

print(len(df12[cond3|cond4]))

2
2

In [132]:
# 문제 13. mpg 컬럼을 최소최대 Scaling을 진행한 후 0.7보다 큰 값을 가지는 레코드 수를 구하라.
df13 = df.copy()

mscaler = MinMaxScaler()

df13['mpg'] = mscaler.fit_transform(df13[['mpg']])

cond1 = (df13['mpg'] > 0.7)

print(len(df13[cond1]))

# 다른 풀이
# 공식 : (X-min)/(max-min)
df13_1 = df.copy()

min_mpg = df13_1['mpg'].min()
max_mpg = df13_1['mpg'].max()

df13_1['mpg'] = (df13_1['mpg']-min_mpg)/(max_mpg-min_mpg)

# print(df13_1)
cond2 = (df13_1['mpg'] > 0.7)

print(len(df13_1[cond2]))

5
5

In [133]:
# 문제 14. wt 컬럼에 대해 상자그림 기준으로 이상치의 개수를 구하시오.
df14 = df.copy()

Q1 = df14['wt'].quantile(.25)
Q3 = df14['wt'].quantile(.75)
IQR = abs(Q3-Q1)

upper = Q3 + 1.5*IQR
lower = Q1 - 1.5*IQR

cond1 = (df14['wt'] > upper)
cond2 = (df14['wt'] < lower)

print(len(df14[cond1|cond2]))

3

In [134]:
# 문제 15.
# 판매수 컬럼의 결측치를 최소값으로 대체하고
# 결측치가 있을 때와 최소값으로 대체했을 때 평균값의 차이를 절대값으로 출력하시오

new_df = pd.DataFrame({
  "날짜": ['20220103', '20220105', None, '20230127', '20220203', '20220205', '20230223', '20230325', '20230427', '20230526', '20230603', '20230723'],
  '제품': ['A', 'B', None, 'B', 'A', None, 'A', 'B', 'A', 'B', 'A', 'A'],
  '판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
  '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]
})

print(new_df)

          날짜    제품   판매수  개당수익
0   20220103     A   3.0   300
1   20220105     B   NaN   400
2       None  None   5.0   500
3   20230127     B  10.0   600
4   20220203     A  10.0   400
5   20220205  None  10.0   500
6   20230223     A  15.0   500
7   20230325     B  15.0   600
8   20230427     A  20.0   600
9   20230526     B   NaN   700
10  20230603     A  30.0   600
11  20230723     A  40.0   600

In [135]:
df15 = new_df.copy()

sale_nan_mean = df15['판매수'].mean()
# print(sale_nan_mean)

sale_min = df15['판매수'].min()
df15['판매수'] = df15['판매수'].fillna(sale_min)
sale_mean = df15['판매수'].mean()
# print(sale_mean)

print(round(abs(sale_nan_mean-sale_mean)))

2

In [136]:
# 문제 16. vs 변수가 0이 아닌 차량 중에 mpg 값이 가장 큰 차량의 hp 값을 출력하시오.

df16 = df.copy()
# df16.head()

cond1 = (df16['vs'] != 0)

df16_1 = df16[cond1].sort_values('mpg', ascending=False, ignore_index=True)
print(df16_1['hp'][0])

df16 = df16[cond1].sort_values('mpg', ascending=False)
print(df16['hp'].iloc[0])
print(df16['hp'].loc[19])
# print(df16)

65
65
65

In [137]:
# 문제 17. gear 변수 값이 3, 4인 두 그룹의 hp 표준편차 값의 차이를 절대값으로 소수점 첫째자리까지 출력하시오.

df17 = df.copy()

cond1 = (df17['gear'] == 3)
cond2 = (df17['gear'] == 4)

gear_3_std = df17['hp'][cond1].std()
gear_4_std = df17['hp'][cond2].std()

print(round(abs(gear_3_std-gear_4_std),1))

21.8

In [138]:
# 문제 18.
# gear 변수의 값별로 그룹화하여 mpg 평균값을 산출하고
# 평균값이 높은 그룹의 mpg 제3사분위수 값을 구하시오.

df18 = df.copy()

df18_1 = df18.groupby('gear').mean(numeric_only=True).sort_values('mpg', ascending=False)

df18_1 = df18_1.reset_index()

cond1 = (df18['gear'] == df18['gear'].iloc[0])

print(df18[cond1]['mpg'].quantile(.75))

# 다른 풀이
df18_ = df.copy()

df18_ = df.loc[:,['gear','mpg']]

# print(df18_.groupby('gear').mean().sort_values('mpg',ascending=False))

cond2 = df18_['gear'] == 4

print(df18_[cond2]['mpg'].quantile(.75))

28.075
28.075

In [146]:
# 문제 19.
# hp 항목의 상위 7번째 값으로 상위 7개 값을 반환한 후
# hp가 150 이상인 데이터를 추출하여 hp의 평균값을 반올림하여 정수로 출력하시오.

df19 = df.copy()

df19_1 = df19.sort_values('hp', ascending=False, ignore_index=True)

# print(df19_1)

top7_df19 = df19_1['hp'].loc[6]   # 205

# print(top7_df19)

df19['hp'] = np.where(df19['hp'] >= top7_df19, top7_df19, df19['hp'])

# print(df19)

cond1 = df19['hp'] >= 150

print(round(df19[cond1]['hp'].mean()))


# 다른 풀이
df19_ = df.copy()
df19_ = df19_.sort_values('hp', ascending=False)
df19_ = df19_.reset_index(drop=True)  # drop=True는 기존 index 삭제
# top7 = df19_[:7]
top7 = df19_['hp'].loc[6]

# print(top7)

df19_['hp'] = np.where(df19_['hp']>=top7, top7, df19_['hp'])

print(round(df19_['hp'][df19_['hp']>=150].mean()))

187
187

In [155]:
# 문제 20. car 변수에 Merc 문구가 포함된 자동차의 mpg 평균값을 정수로 출력하시오.
df20 = df.copy()
df20.rename(columns={'Unnamed: 0':'car'}, inplace=True)
# print(df20)

cond1 = (df20['car'].str.contains('Merc'))

print(round(df20[cond1]['mpg'].mean()))

19