## 핵심문제 27개 (21~27번)

In [243]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [244]:
# 문제 21. 22년 1분기 A제품의 매출액을 구하시오
# 매출액 = 판매수*개당수익

# 데이터 생성
df = pd.DataFrame( {
    '날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })


print(df)

          날짜 제품  판매수  개당수익
0   20220103  A    3   300
1   20220105  B    5   400
2   20230105  A    5   500
3   20230127  B   10   600
4   20220203  A   10   400
5   20220205  B   10   500
6   20230210  A   15   500
7   20230223  B   15   600
8   20230312  A   20   600
9   20230422  B   25   700
10  20220505  A   30   600
11  20230511  A   40   600

In [245]:
df1 = df.copy()

df1['매출액'] = df1['판매수']*df1['개당수익']

df1['날짜'] = pd.to_datetime(df1['날짜'])
df1['year'] = df1['날짜'].dt.year
df1['month'] = df1['날짜'].dt.month
df1['day'] = df1['날짜'].dt.day

# print(df1)

cond1 = (df1['제품'] == 'A')
cond2 = (df1['year'] == 2022)
cond3 = (df1['month'] <= 3)

# print(df1[cond1&cond2&cond3])

print(df1[cond1&cond2&cond3]['매출액'].sum())

# 다른 풀이
df1_ = df.copy()

df1_['날짜'] = pd.to_datetime(df1_['날짜'])

df1_['매출액'] = df1_['판매수']*df1_['개당수익']

df_after = df1_[df1_['날짜'].between('2022-01-01', '2022-04-01')] # 4월 1일 미포함
print(df_after['매출액'][df1_['제품']=='A'].sum())

# 다른 풀이 2

df1_1 = df.copy()

df1_1['날짜'] = pd.to_datetime(df1_1['날짜'])

df1_1['매출액'] = df1_1['판매수']*df1_1['개당수익']

# 날짜 인덱스로 설정 후 loc 사용
df1_1 = df1_1.set_index('날짜')

# print(df1_1.index)
df1_after = df1_1.loc[(df1_1.index <= '2022-03-31') & (df1_1.index >= '2022-01-01')]

print(df1_after['매출액'][df1_1['제품']=='A'].sum())

4900
4900
4900

In [246]:
# 문제 22. 22년과 23년의 총 매출액 차이를 절대값으로 구하시오
# (매출액 = 판매수*개당수익)
df22 = df.copy()

df22['날짜'] = pd.to_datetime(df22['날짜'])

df22['매출액'] = df22['판매수']*df22['개당수익']

df22['year'] = df22['날짜'].dt.year
df22['month'] = df22['날짜'].dt.month
df22['day'] = df22['날짜'].dt.day

# print(df22)

cond1 = (df22['year'] == 2022)
cond2 = (df22['year'] == 2023)

sum_2022 = df22['매출액'][cond1].sum()
sum_2023 = df22['매출액'][cond2].sum()

print(abs(sum_2022-sum_2023))

48600

In [247]:
# 문제 23. 23년 총 매출액이 큰 제품의 23년 판매수를 구하시오
# (매출액 = 판매수*개당수익)

df23 = df.copy()

df23['매출액'] = df23['판매수']*df23['개당수익']

df23['날짜'] = pd.to_datetime(df23['날짜'])
df23['year'] = df23['날짜'].dt.year

cond_2023 = (df23['year'] == 2023)
cond_a = (df23['제품'] == 'A')
cond_b = (df23['제품'] == 'B')

total_a = df23['매출액'][cond_2023&cond_a].sum()
total_b = df23['매출액'][cond_2023&cond_b].sum()

if total_a > total_b :
  print(df['제품'][cond_2023&cond_a].iloc[0], df23['판매수'][cond_2023&cond_a].sum())
else:
  print(df['제품'][cond_2023&cond_b].iloc[0], df23['판매수'][cond_2023&cond_b].sum())

A 80

In [248]:
# 문제 24. 매출액이 4천원 초과, 1만원 미만인 데이터 수를 출력하시오.
# 매출액 = 판매수*개당수익

df24 = df.copy()

df24['매출액'] = df24['판매수']*df24['개당수익']

cond1 = (df24['매출액'] > 4000)
cond2 = (df24['매출액'] < 10000)

print(len(df24['매출액'][cond1&cond2]))

4

In [249]:
df = pd.DataFrame( {
    '물품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
    '판매수': [5, 10, 15, 15, 20, 25, 40],
    '개당수익': [500, 600, 500, 600, 600, 700, 600] })
time = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods= 7)
df['time']=time
df = df[ ['time','물품','판매수','개당수익']]

print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    7 non-null      datetime64[ns]
 1   물품      7 non-null      object
 2   판매수     7 non-null      int64
 3   개당수익    7 non-null      int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 352.0+ bytes
None

                 time 물품  판매수  개당수익
0 2023-09-24 12:25:00  A    5   500
1 2023-09-24 16:48:25  B   10   600
2 2023-09-24 21:11:50  A   15   500
3 2023-09-25 01:35:15  B   15   600
4 2023-09-25 05:58:40  A   20   600

In [250]:
# 문제 25. 23년 9월 24일 16:00~22:00 사이에 전체 제품의 판매수를 구하시오.

df25 = df.copy()

# df25['time'] = pd.to_datetime(df25['time'])

df25 = df25.set_index('time')

# loc의 2가지 형태 활용
df25_filter = df25.loc['2023-09-24 16:00:00':'2023-09-24 22:00:00']
print(df25_filter['판매수'].sum())

df25_filter = df25.loc[(df25.index >= '2023-09-24 16:00:00') & (df25.index <= '2023-09-24 22:00:00')]
print(df25_filter['판매수'].sum())

# 다른 방식

df25_ = df.copy()
df25_['time'] = pd.to_datetime(df25_['time'])

df25_ = df25_.set_index('time', drop=False)

# print(df25_)

cond1 = (df25_['time'].between('2023-09-24', '2023-09-25'))   # between에서 '2023-09-25'는 미포함!

df25_after = df25_[cond1]

df25_after = df25_after.between_time(start_time="16:00", end_time="22:00")  # 포함 기준!

print(df25_after['판매수'].sum())

25
25
25

In [251]:
# 문제 26. 9월 25일 00:00~12:00 까지의 B물품의 매출액 총합을 구하시오.
# 매출액 = 판매수*개당수익

df = pd.DataFrame( {
    '물품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
    '판매수': [5, 10, 15, 15, 20, 25, 40],
    '개당수익': [500, 600, 500, 600, 600, 700, 600] } )
df['time'] = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods= 7)
df = df[ ['time','물품','판매수','개당수익'] ]

df

                 time 물품  판매수  개당수익
0 2023-09-24 12:25:00  A    5   500
1 2023-09-24 16:48:25  B   10   600
2 2023-09-24 21:11:50  A   15   500
3 2023-09-25 01:35:15  B   15   600
4 2023-09-25 05:58:40  A   20   600
5 2023-09-25 10:22:05  B   25   700
6 2023-09-25 14:45:30  A   40   600

In [252]:
df26 = df.copy()

df26['time'] = pd.to_datetime(df26['time'])

df26['매출액'] = df26['판매수']*df26['개당수익']

df26 = df26.set_index('time', drop=False)

cond1 = (df26['물품'] == 'B')

df26_filter = df26.loc['2023-09-25 00:00:00':'2023-09-25 12:00:00']
print(df26_filter['매출액'][cond1].sum())

df26_filter = df26.loc[(df26.index >= '2023-09-25 00:00:00') & (df26.index <= '2023-09-25 12:00:00')]
print(df26_filter['매출액'][cond1].sum())

# between 함수는 변수에 위치해야 적용 가능
cond2 = df26['time'].between('2023-09-25','2023-09-26')
# 시간 필터는 index에 위치해야만 적용 가능
df26_filter = df26.between_time(start_time='00:00', end_time='12:00')
print(df26_filter['매출액'][cond1&cond2].sum())

26500
26500
26500

In [259]:
# 문제 27. 9월 24일 12:00~24:00 까지의 A 물품의 매출액 총합을 구하시오.
# 매출액 = 판매수*개당수익

df27 = df.copy()

df27['time'] = pd.to_datetime(df27['time'])

df27['매출액'] = df27['판매수']*df27['개당수익']

df27 = df27.set_index('time', drop=False)

cond1 = (df27['물품'] == 'A')

# 1. loc 인덱스 슬라이싱
df27_filter = df27.loc['2023-09-24 12:00:00':'2023-09-25 00:00:00']
print(df27_filter['매출액'][cond1].sum())

# 2. 인덱스 활용
df27_filter = df27.loc[(df27.index >= '2023-09-24 12:00:00') & (df27.index <= '2023-09-25 00:00:00')]
print(df27_filter['매출액'][cond1].sum())

# 3. between 함수와 between_time 함수 사용
cond2 = (df27['time'].between('2023-09-24', '2023-09-25'))
df27_filter = df27.between_time(start_time="12:00", end_time="23:59")
print(df27_filter['매출액'][cond1&cond2].sum())

10000
10000
10000