In [348]:
import pandas as pd
import numpy as np

df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_1.csv")

df.head()

,구급보고서번호,소방서명,환자증상구분명1,신고일자,신고시각,출동일자,출동시각,환자직업명,사고발생장소
0,20211122103M01526,중랑소방서,심계항진,20210330,104800,20210330,105042,무직,집
1,20211111105M00771,노원소방서,복통,20210412,225600,20210412,225827,기타,집
2,20211115104M00864,서초소방서,심계항진,20210303,194100,20210303,194500,직장인,상업시설
3,20211113107M01869,마포소방서,고열,20211225,235400,20211226,331,유아,집
4,20211118102M05820,강동소방서,고열,20211019,12100,20211019,12322,무직,집

In [349]:
df['신고_DATE'] = pd.to_datetime(df['신고일자'].astype('str') + df['신고시각'].astype('str').str.zfill(6))
df['출동_DATE'] = pd.to_datetime(df['출동일자'].astype('str') + df['출동시각'].astype('str').str.zfill(6))

df['소요시각'] = (df['출동_DATE'] - df['신고_DATE']).dt.total_seconds()

print(df['소요시각'])

0       162.0
1       147.0
2       240.0
3       571.0
4       142.0
        ...
2757     60.0
2758    180.0
2759    150.0
2760    164.0
2761    240.0
Name: 소요시각, Length: 2762, dtype: float64

In [350]:
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/ep6_p2_train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/ep6_p2_test.csv')

print(train.shape, test.shape)

train.head()

(11230, 20) (4813, 19)

,ID,General_Health,Checkup,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,ID_1473,Good,Within the past 2 years,Yes,No,No,No,No,No,Yes,Female,55-59,168.0,77.11,27.44,No,1.0,12.0,4.0,4.0
1,ID_2045,Good,Within the past 2 years,Yes,No,No,No,No,No,No,Female,40-44,152.0,58.97,25.39,No,0.0,8.0,16.0,8.0
2,ID_3079,Good,Within the past year,Yes,No,No,No,Yes,No,Yes,Female,65-69,170.0,65.77,22.71,Yes,12.0,30.0,2.0,0.0
3,ID_15958,Excellent,Within the past year,Yes,No,No,No,No,No,No,Female,40-44,163.0,56.70,21.46,No,24.0,60.0,16.0,3.0
4,ID_11047,Excellent,Within the past year,Yes,No,No,Yes,No,No,No,Male,55-59,185.0,95.25,27.71,Yes,28.0,30.0,30.0,8.0

In [351]:
test.head()

,ID,Checkup,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,ID_14547,Within the past year,Yes,No,No,No,No,No,No,Male,35-39,180.0,81.65,25.10,No,15.0,8.0,25.0,12.0
1,ID_26,5 or more years ago,No,No,Yes,No,No,No,No,Male,60-64,183.0,79.38,23.73,No,1.0,4.0,4.0,4.0
2,ID_14103,Within the past year,Yes,No,No,No,No,No,Yes,Female,40-44,163.0,81.65,30.90,No,4.0,60.0,60.0,8.0
3,ID_10946,Within the past 2 years,Yes,No,No,No,No,No,No,Male,25-29,175.0,74.84,24.37,Yes,15.0,0.0,4.0,4.0
4,ID_1572,5 or more years ago,Yes,No,No,No,No,No,No,Male,25-29,170.0,70.31,24.28,No,0.0,16.0,20.0,28.0

In [352]:
x_train = pd.DataFrame(train.drop(columns=['General_Health'], axis=1))
y_train = pd.DataFrame(train['General_Health'])
x_test = test

cust_id = x_test['ID']



print(x_train.shape, x_test.shape, y_train.shape)

(11230, 19) (4813, 19) (11230, 1)

In [353]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11230 entries, 0 to 11229
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ID                            11230 non-null  object
 1   General_Health                11230 non-null  object
 2   Checkup                       11230 non-null  object
 3   Exercise                      11230 non-null  object
 4   Heart_Disease                 11230 non-null  object
 5   Skin_Cancer                   11230 non-null  object
 6   Other_Cancer                  11230 non-null  object
 7   Depression                    11230 non-null  object
 8   Diabetes                      11230 non-null  object
 9   Arthritis                     11230 non-null  object
 10  Sex                           11230 non-null  object
 11  Age_Category                  11230 non-null  object
 12  Height_(cm)                   11230 non-null  float64
 13  Weight_(kg)                   11230 non-null  float64
 14  BMI                           11230 non-null  float64
 15  Smoking_History               11230 non-null  object
 16  Alcohol_Consumption           11230 non-null  float64
 17  Fruit_Consumption             11230 non-null  float64
 18  Green_Vegetables_Consumption  11230 non-null  float64
 19  FriedPotato_Consumption       11230 non-null  float64
dtypes: float64(7), object(13)
memory usage: 1.7+ MB

In [354]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4813 entries, 0 to 4812
Data columns (total 19 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ID                            4813 non-null   object
 1   Checkup                       4813 non-null   object
 2   Exercise                      4813 non-null   object
 3   Heart_Disease                 4813 non-null   object
 4   Skin_Cancer                   4813 non-null   object
 5   Other_Cancer                  4813 non-null   object
 6   Depression                    4813 non-null   object
 7   Diabetes                      4813 non-null   object
 8   Arthritis                     4813 non-null   object
 9   Sex                           4813 non-null   object
 10  Age_Category                  4813 non-null   object
 11  Height_(cm)                   4813 non-null   float64
 12  Weight_(kg)                   4813 non-null   float64
 13  BMI                           4813 non-null   float64
 14  Smoking_History               4813 non-null   object
 15  Alcohol_Consumption           4813 non-null   float64
 16  Fruit_Consumption             4813 non-null   float64
 17  Green_Vegetables_Consumption  4813 non-null   float64
 18  FriedPotato_Consumption       4813 non-null   float64
dtypes: float64(7), object(12)
memory usage: 714.6+ KB

In [355]:
x_train.isnull().sum()

ID                              0
Checkup                         0
Exercise                        0
Heart_Disease                   0
Skin_Cancer                     0
Other_Cancer                    0
Depression                      0
Diabetes                        0
Arthritis                       0
Sex                             0
Age_Category                    0
Height_(cm)                     0
Weight_(kg)                     0
BMI                             0
Smoking_History                 0
Alcohol_Consumption             0
Fruit_Consumption               0
Green_Vegetables_Consumption    0
FriedPotato_Consumption         0
dtype: int64

In [356]:
x_test.isnull().sum()

ID                              0
Checkup                         0
Exercise                        0
Heart_Disease                   0
Skin_Cancer                     0
Other_Cancer                    0
Depression                      0
Diabetes                        0
Arthritis                       0
Sex                             0
Age_Category                    0
Height_(cm)                     0
Weight_(kg)                     0
BMI                             0
Smoking_History                 0
Alcohol_Consumption             0
Fruit_Consumption               0
Green_Vegetables_Consumption    0
FriedPotato_Consumption         0
dtype: int64

In [357]:
x_train.describe().T

,count,mean,std,min,25%,50%,75%,max
Height_(cm),11230.0,170.532769,10.766101,94.00,163.00,170.00,178.0000,226.00
Weight_(kg),11230.0,83.881470,22.177621,31.75,68.04,81.65,95.2500,293.02
BMI,11230.0,28.769485,6.925065,13.25,24.05,27.44,32.0375,97.58
Alcohol_Consumption,11230.0,4.826714,8.072258,0.00,0.00,1.00,5.0000,30.00
Fruit_Consumption,11230.0,29.451113,25.039505,0.00,12.00,30.00,30.0000,120.00
Green_Vegetables_Consumption,11230.0,15.112467,15.374689,0.00,4.00,12.00,20.0000,120.00
FriedPotato_Consumption,11230.0,6.320125,8.393891,0.00,2.00,4.00,8.0000,120.00

In [358]:
x_test.describe().T

,count,mean,std,min,25%,50%,75%,max
Height_(cm),4813.0,170.582381,10.741799,100.00,163.00,170.00,178.00,208.00
Weight_(kg),4813.0,83.505377,21.783082,36.29,68.04,80.74,95.25,285.76
BMI,4813.0,28.624058,6.806961,12.05,24.03,27.34,31.93,86.51
Alcohol_Consumption,4813.0,4.689591,7.931521,0.00,0.00,1.00,5.00,30.00
Fruit_Consumption,4813.0,29.735092,25.192564,0.00,12.00,30.00,30.00,120.00
Green_Vegetables_Consumption,4813.0,15.320382,15.319498,0.00,4.00,12.00,20.00,120.00
FriedPotato_Consumption,4813.0,6.203200,8.400699,0.00,1.00,4.00,8.00,120.00

In [359]:
y_train.describe().T

                count unique        top  freq
General_Health  11230      3  Excellent  4286

In [360]:
y_train.value_counts()

General_Health
Excellent         4286
Good              3990
Fair              2954
dtype: int64

In [361]:
x_train = x_train.iloc[:,1:]
x_test = x_test.iloc[:,1:]

x_train = pd.get_dummies(x_train)
x_test = pd.get_dummies(x_test)

x_test = x_test.reindex(columns=x_train.columns, fill_value=0)

print(x_train.shape, x_test.shape, y_train.shape)

(11230, 45) (4813, 45) (11230, 1)

In [362]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()

model.fit(x_train, y_train)

C:\Users\tpgns\AppData\Local\Temp\ipykernel_27568\3456133001.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x_train, y_train)

RandomForestClassifier()

In [363]:
pred = model.predict(x_test)

result = pd.DataFrame({'ID':cust_id, 'General_Health':pred})

result.to_csv('result_5.csv', index=False)

In [364]:
print(pd.read_csv('result_5.csv').head())

         ID General_Health
0  ID_14547      Excellent
1     ID_26      Excellent
2  ID_14103      Excellent
3  ID_10946      Excellent
4   ID_1572      Excellent

In [365]:
from sklearn.model_selection import train_test_split

X_train, X_val, Y_train, Y_val = train_test_split(x_train, y_train['General_Health'], stratify=y_train['General_Health'], test_size=0.2)

In [366]:
val_model = RandomForestClassifier()

val_model.fit(X_train, Y_train)

val_pred = val_model.predict(X_val)

In [367]:
from sklearn.metrics import accuracy_score, f1_score

accuracy = accuracy_score(Y_val, val_pred)
f1 = f1_score(Y_val, val_pred, average='macro')

print(accuracy, f1)

0.5596616206589492 0.5462423595022964

In [368]:
row1 = [600*0.8, 550*0.74]
row2 = [600*0.2, 550*0.26]

df = pd.DataFrame([row1,row2], columns=['male','female'])

print(df)

    male  female
0  480.0   407.0
1  120.0   143.0

In [369]:
# 카이제곱 독립성 검정
# 귀무가설(H0) : 성별에 따른 흡연 여부가 인구 비율에 영향을 미치지 않는다
# 대립가설(H1) : 성별에 따른 흡연 여부가 인구 비율에 영향을 미친다

In [370]:
from scipy.stats import chi2_contingency

statistic, pvalue, dof, expected = chi2_contingency(df)

print(pvalue)

0.018786854975740765

In [371]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/28/p7.csv')

df.head()

   age  Cholesterol  weight
0   65         69.0   111.0
1   54        117.0    81.0
2   61         86.2    72.0
3   57         76.0    78.0
4   62        160.0    61.0

In [372]:
x = df.iloc[:,[0,1]]
y = df.iloc[:,-1]

print(x.head())
print(y.head())

   age  Cholesterol
0   65         69.0
1   54        117.0
2   61         86.2
3   57         76.0
4   62        160.0
0    111.0
1     81.0
2     72.0
3     78.0
4     61.0
Name: weight, dtype: float64

In [373]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

model.fit(x, y)

LinearRegression()

In [374]:
print(np.round(model.coef_[0],4))

-0.0361

In [376]:
# print(model.coef_)
# print(model.intercept_)

# weight = model.intercept_ + model.coef_[0]*55 + model.coef_[1]*72.6

pred = model.predict([[55,72.6]])
print(pred[0])

78.85771011344595

c:\Python3.11\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [ ]:
import statsmodels.api as sm

x = sm.add_constant(x)

model = sm.OLS(y,x).fit()

summary = model.summary()

print(summary)

                            OLS Regression Results
==============================================================================
Dep. Variable:                 weight   R-squared:                       0.044
Model:                            OLS   Adj. R-squared:                  0.038
Method:                 Least Squares   F-statistic:                     7.574
Date:                Fri, 01 Dec 2023   Prob (F-statistic):           0.000608
Time:                        23:41:18   Log-Likelihood:                -1374.9
No. Observations:                 333   AIC:                             2756.
Df Residuals:                     330   BIC:                             2767.
Df Model:                           2
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const          74.8953      4.455     16.813      0.000      66.132      83.658
age            -0.0361      0.059     -0.611      0.542      -0.152       0.080
Cholesterol     0.0819      0.022      3.716      0.000       0.039       0.125
==============================================================================
Omnibus:                       15.848   Durbin-Watson:                   2.033
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               17.569
Skew:                           0.471   Prob(JB):                     0.000153
Kurtosis:                       3.617   Cond. No.                         701.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
model.pvalues['Cholesterol']

if pvalue > 0.05 :
    print('선형관계가 없다')
else :
    print('선형관계가 있다')

선형관계가 있다

In [ ]:
pred = model.predict([1,55,72.6])

print(pred[0])

78.85771011344596