In [135]:
import pandas as pd
import numpy as np

# 추론통계
from scipy import stats
from sklearn.linear_model import LinearRegression, LogisticRegression

In [136]:
df = pd.read_csv('mtcars.csv')

df.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [137]:
# 단일표본 t-test (양측 검정)

t, p_value = stats.ttest_1samp(df['mpg'], 22, alternative='two-sided')

n = len(df)
print('자유도 : ', n-1)
print(round(t,2), f'{p_value:.4f}')

if p_value > 0.05 :
  print('귀무가설 채택(즉, 평균이 22와 같다)')
else :
  print('귀무가설 기각(즉, 평균이 22와 같지 않다)')

자유도 :  31
-1.79 0.0829
귀무가설 채택(즉, 평균이 22와 같다)

In [138]:
# 단일표본 t-test (단측 검정)
t, p_value = stats.ttest_1samp(df['mpg'], popmean=17, alternative="greater")

print(round(t,2), f'{p_value:.4f}')

if p_value > 0.05 :
  print('귀무가설 채택(즉, 평균이 17보다 작거나 같다)')
else :
  print('귀무가설 기각(즉, 평균이 17보다 크다)')

2.9 0.0034
귀무가설 기각(즉, 평균이 17보다 크다)

In [139]:
# print(help(stats.chi2_contingency))

print(df.corr())

           mpg       cyl      disp        hp      drat        wt      qsec  \
mpg   1.000000 -0.852162 -0.847551 -0.776168  0.681172 -0.867659  0.418684
cyl  -0.852162  1.000000  0.902033  0.832447 -0.699938  0.782496 -0.591242
disp -0.847551  0.902033  1.000000  0.790949 -0.710214  0.887980 -0.433698
hp   -0.776168  0.832447  0.790949  1.000000 -0.448759  0.658748 -0.708223
drat  0.681172 -0.699938 -0.710214 -0.448759  1.000000 -0.712441  0.091205
wt   -0.867659  0.782496  0.887980  0.658748 -0.712441  1.000000 -0.174716
qsec  0.418684 -0.591242 -0.433698 -0.708223  0.091205 -0.174716  1.000000
vs    0.664039 -0.810812 -0.710416 -0.723097  0.440278 -0.554916  0.744535
am    0.599832 -0.522607 -0.591227 -0.243204  0.712711 -0.692495 -0.229861
gear  0.480285 -0.492687 -0.555569 -0.125704  0.699610 -0.583287 -0.212682
carb -0.550925  0.526988  0.394977  0.749812 -0.090790  0.427606 -0.656249

            vs        am      gear      carb
mpg   0.664039  0.599832  0.480285 -0.550925
cyl  -0.810812 -0.522607 -0.492687  0.526988
disp -0.710416 -0.591227 -0.555569  0.394977
hp   -0.723097 -0.243204 -0.125704  0.749812
drat  0.440278  0.712711  0.699610 -0.090790
wt   -0.554916 -0.692495 -0.583287  0.427606
qsec  0.744535 -0.229861 -0.212682 -0.656249
vs    1.000000  0.168345  0.206023 -0.569607
am    0.168345  1.000000  0.794059  0.057534
gear  0.206023  0.794059  1.000000  0.274073
carb -0.569607  0.057534  0.274073  1.000000

C:\Users\user\AppData\Local\Temp\ipykernel_37420\1047505755.py:3: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.corr())

In [140]:
# 피어슨 상관계수 유의성 검정
print(stats.pearsonr(df['mpg'], df['cyl']))

# 선형관계가 있다 = p-value <= 0.05 = 대립가설 채택 (귀무가설 기각)

PearsonRResult(statistic=-0.8521619594266132, pvalue=6.112687142580964e-10)